[2014-03-18 11:52] dayyeung opened #3 "Browser support for data URI"
According to the README,

However, from what I understand, the current implementation does not take browser support into consideration, nor does it have fallback in place. So which one is the real intention?

[2014-03-31 06:47] #3 closed, assigned to nobody

[2014-08-06 21:09] talves opened #6 "svg support"
I took a stab at this, but failed due to my lack of webpack knowledge.

I thought it would be great to have the limit support the svg extension mimetype (image/svg+xml)

[I found this on StackOverflow](http://stackoverflow.com/questions/11753485/set-img-src-to-dynamic-svg-element)

Any thoughts?

[2014-08-12 02:46] jwall opened #7 "Using ?v= in CSS url() doesn't work"
To make

[code]

work, then `?v=4.1.0` must be removed.

What's the right way to handle this case?

[2014-09-07 20:57] #7 closed, assigned to nobody

[2014-11-15 18:51] #6 closed, assigned to nobody

[2015-03-02 21:18] possibilities opened #8 "Opt out of `limit`"
To opt out you have to include a silly large value. If you want this and suggest a name for the option I'll implement it, what do you think @sokra. Thanks either way! (;

[2015-03-02 21:19] possibilities opened #9 "A CSS file that is @imported in a stylus file is ignored in production but not development"

[2015-03-02 21:26] sokra commented on #8
Just don't pass limit...

[2015-03-02 21:27] #8 closed

[2015-03-02 21:30] possibilities commented on #8
No limit defaults to 0. Instead I'm using limit=1 which is fine but I think
it's not uncommon that you want to file-load all of the urls found in css
in a project. no?

On Mon, Mar 2, 2015 at 1:27 PM, Tobias Koppers <notifications@github.com>
wrote:

[2015-03-02 21:32] sokra commented on #8
no limit or limit=0 mean only DataUrl and no file-loader.

[2015-03-02 21:39] possibilities commented on #8
OH! I want to force file loader. I didn't realize I could use it directly and skip url loader all together! Thanks!

[2015-03-14 17:44] sloria opened #10 "minetype?"
Just curious: why handle "minetype" here: https://github.com/webpack/url-loader/blob/master/index.js#L14 ? It seems unnecessary and may encourage bad spelling.

[2015-03-14 18:05] sokra commented on #10
For backward compatibility. It was initially spelled wrong. You can to a PR which throws an error when minetype is used.

[2015-04-20 09:56] iam4x opened #11 "webpack `stats.json` original filename?"
Hey,

For my server side rendering, I would need to map the original filename/path to the generated one. To make `require(xxxx.png)` works in node.

Is there a way to achieve this easily?

[2015-04-20 13:52] sokra commented on #11
`stats.modules[x].assets`

[2015-04-20 14:05] iam4x commented on #11
@sokra

Let's say I have this:

[code]

In my `stats.json` if I search for `react-logo` there's no results. I want to map the original filename to the generated one.

[2015-04-20 14:30] sokra commented on #11
in `stats.modules` you have all modules in this format:

[code]

`assets: ["c31e9820c001c9c4a86bce33ce43b679.png"]`

[2015-04-20 15:22] iam4x commented on #11
Thanks found it :+1:

[2015-04-20 15:22] #11 closed

[2015-05-07 10:23] iamstarkov opened #12 "peerDependencies will be deprecated in npm@3.x"
[code]

I’m using webpack and want to say thank you for this "url-loader" package, that’s why I don’t want it to be broken with npm@3.x. Can we get rid off peerDeps?

[2015-05-11 13:16] iamstarkov commented on #12
hey, is anybody here? =)

[2015-05-11 14:54] sokra commented on #12
You need to a dependency to `file-loader` in your package.json.

[2015-07-02 11:42] iamstarkov commented on #6
is it still the best solution?

[2015-07-02 11:50] ColCh commented on #6
Idea of using multiple loaders for SVG is far mo-o-ore good solution than just `raw-loader`.

Sorry mate,  I can't find issue thread discussion for this.

[2015-07-02 11:55] iamstarkov commented on #6
prob you are talking about webpack/webpack#595

[2015-07-13 14:54] iamstarkov commented on #12
thanks

[2015-07-13 14:54] #12 closed

[2015-07-27 11:25] ppoliani opened #14 "Load images in JavaScript"
I try to load images in JavaScript code and then use the base64 string as the src of images.

     const img1 = require("url?limit=10000!../../form/images/image1.png");
     const img2 = require("url?limit=10000!../../form/images/image2.png");

But when I decode the above base64 string I get something like the following:

    module.exports = "data:image/png;base64,iVBORw0KGgoAA...

Why is the `mo

[2015-07-27 12:00] ppoliani commented on #14
Ok I have to require it twice to load the actual data.

[2015-07-27 12:00] #14 closed

[2015-07-31 19:32] NekR commented on #6
This is what I get from ``url-loader`` for svg (decoded base64 string):
[code]

Obviously this is wrong xml document.

[2015-07-31 19:38] NekR commented on #6
Oh, I got it, inline loader does not overrides default loader. It works, nevermind.

[2015-08-15 18:03] halt-hammerzeit commented on #11
FYI
https://github.com/halt-hammerzeit/webpack-isomorphic-tools

This module enables the thing you tried to implement (requiring images on server for example)

[2015-08-19 09:13] hkongm opened #16 "How to output a image file in css background-image to another folder?"
The question likes https://github.com/webpack/file-loader/issues/32

It's seems no way to resolve this...

Thanks.

[2015-08-20 11:06] qiankun007 commented on #16
it is not a bug, you can add a query parameter `name=xxx` like this
[code]

see [loader-utils](https://github.com/webpack/loader-utils) source code

[2015-08-26 03:31] hkongm commented on #16
thanks very much

[2015-08-26 03:31] #16 closed

[2015-09-19 22:33] alkema commented on #6
@ColCh Great idea to use `raw-loader` for inline SVG. :+1: Works perfectly.

[2015-09-20 06:30] ColCh commented on #6
@alkema pleased to help :blush:

[2015-10-05 22:45] andresmrm opened #17 "Double running loader"
Hello! And thanks for this loader (and Webpack)! But I'm having a problem...
It seems to run twice when I do a `require('url!../assets/imgs/file.png')` from a JS file. So the second run is reencoding the encoded Buffer from the first run. In the end, I guess the string accessible in the Browser is not the encoded image, but the encoded module with the encoded image...
Am I doing anything wrong?

F

[2015-10-20 20:58] defrex commented on #17
I'm having this same issue.

@andresmrm were you able to resolve it?

[2015-10-20 21:13] defrex commented on #17
To provide some more context.

With this loader config

[code]

`import logo from './logo.svg';` produces the file `logo-33f58a0735f17635fc36f58023b72dcb.svg` during the build, which is correct. However, `<img src={logo}/>` becomes
[code]

That data URI turns out to be this

[code]

Which of course, isn't a valid SVG file. I'm not sure why. :/

[2015-10-20 21:26] andresmrm commented on #17
Hi, @defrex ! I changed the loader code to [this](https://gist.github.com/andresmrm/dbf24a1caeaf0383cb0a#file-gistfile1-txt-L12). And then I use it like this:

    const assets = {
        logo: require('url?once=1!../assets/logo.svg'),
        ...
    }

And then, set my `img` `src` to `assets.logo`

It's an ugly hack, but seems to work here...

[2015-10-20 21:50] defrex commented on #17
That worked for me as well.

Though, it lead me to look more into why the asset was being loaded twice. Looks like it was matching my SVG loader and my normal image loader. Once I fixed the regex for the image loader the problem went away and I was able to remove the patch.

Perhaps your issue is similar?

[2015-10-23 09:11] andresmrm commented on #17
I'm glad it was helpfull for you. =)
But it seems not to be my case, since I'm not loading the images in the webpack loader, only in a JS file.

[2015-11-13 10:07] x3b3ch3 opened #18 "Custom Fonts loader"

[2015-12-01 18:29] brandondurham opened #19 "Image URL doesn’t resolve"
This may very well be an issue with my setup outside of the url-loader… not sure.

Here is my url-loader config:

[code]

In my component’s CSS file I have the following declaration:

[code]

The url-loader does the proper thing and moves that image to my `publicPath` and updates the url for the image in the resulting CSS:

[code]

Problem is the image never actually appears in the browser. When I

[2015-12-05 18:47] littlebee commented on #14
Huh?   @ppoliani, what do you mean require it twice?    I'm having issues with images loaded the same way as above.  In my case it works in firefox but not chrome.

I perhaps incorrectly opened the issue on webpack repo:  https://github.com/webpack/webpack/issues/1668

[2015-12-05 18:51] littlebee opened #20 "require .png, .jpg, .gif works in chrome but not firefox"
_From @littlebee on November 24, 2015 23:9_

I'm not sure what I've done, but I have this image:
[code]
That webpack seems to find and load just fine in Chrome but not in Firefox.  My webpack loader config looks like:
[code]
See for example: (http://zulily.github.io/react-datum/docs/examples/).   The last two tiles on the left should have the petals.png image but show as broken, and render without

[2015-12-05 18:51] littlebee commented on #20
I did a bit more debugging on this issue.  In Firefox, the base64 encoded 'url' looks quite different on Firefox and Chrome debuggers.
In Chome, the module exports returned from __webpack_require__(24) =
[code]
In Firefox, the same method returns a much bigger image src that displays renders in the DOM with the image tag having src=""

Interestingly,  I tried setting the Chrome image src to the da

[2015-12-06 15:08] brianchirls commented on #20
The values are not different in Firefox and Chrome. Chrome's debugger just doesn't show the full dataURI. It puts in that fake ellipsis to keep very long strings from filling up your whole screen.

It looks like this is a problem with your code, not with url-loader or webpack. `LazyPhoto` is relying on the browser to fire an error event to set `notFound`, which tells it to use `notFoundUrl`. But i

[2015-12-07 12:44] wmadden commented on #19
FWIW I had to debug the same problem and I posted my findings on StackOverflow: http://stackoverflow.com/questions/34133808/webpack-ots-parsing-error-loading-fonts/34133809#34133809

Chrome has problems with paths that don't specify the protocol

[2015-12-08 18:59] littlebee commented on #20
Oh, you are so right!  Nevermind.   Webpack rules!

[2015-12-08 18:59] #20 closed

[2015-12-27 13:09] moroshko opened #21 "Error: Cannot resolve module"
http://stackoverflow.com/q/34480228/247243

[2015-12-27 23:56] moroshko commented on #21
This seems to be the issue: https://github.com/webpack/css-loader/issues/74

[2015-12-27 23:56] #21 closed

[2016-01-12 07:33] SukantGujar opened #22 "Is "prefix" query parameter supported?"
Quoting the doc -

Outside of this example, I haven't found any mention of the "prefix" parameter either in file-loader, or in loader-utils code. Is this parameter valid!?

[2016-01-14 21:05] tnrich opened #23 "otf font not being loaded correctly"
Here's my config:

[code]

When I require a `.ttf` font everything works fine. Then trying to use `.otf`, no error is thrown, but the font simply doesn't load.

Any help would be greatly appreciated. Thanks!

[2016-01-21 16:09] tommyfok opened #24 "Load png DataURI in javascript fail"
[code]

and open a window showing an invalid image like this:
![image](https://cloud.githubusercontent.com/assets/3250229/12486175/668604d4-c09c-11e5-989f-df5733280883.png)

Is anything wrong with my code?

[2016-01-27 07:03] luqin commented on #19
The same problem +1

[2016-01-29 23:46] kisenka opened #25 "Add ability to set encodings"
Hi @sokra!
Thanks for the great loader.

Default loader behaviour is to encode source and return Data URI. But for SVG is [no necessary to encode source](https://css-tricks.com/probably-dont-base64-svg) in base64, because it works with raw content encoded with encodeURIComponent. Moreover it will decrease ~30% of content length and save browser resources for unpacking base64 string. My suggestion

[2016-02-06 08:40] zwhitchcox opened #26 "How do you actually include an image?"
I get that you type `require('image.png')`, but how do you actually put that in your app?

I have tried `<img src={require('image.png')} />` and just plain `{require('image.png')}`, but it doesn't work. I'm running out of idea.

[2016-02-06 08:47] zwhitchcox commented on #26
So, now, when I type `<img src={require('./image.png')} />` webpack just dies. This is the error it gives me.

[code]

[2016-02-12 04:03] Sinistralis commented on #26
Using ES6 and JSX, you should be able to do:

`import someVar from 'imgPath'.
<img src={someVar}/>`

[2016-02-12 11:33] felixheck opened #27 "How to define a directory for bundled .woff"
Hi there!

I'm using multiple `woff` fonts in my project. They are loaded with the `url-loader`, which (afaik) bundle all these files into a single one. This new `woff` file is located in `config.output.publicPath`.

Is there a way to change the target directory of these files?  Like `config.output.publicPath` + `fonts/`
Thanks a lot!

edit:

Okay, it's just one `woff`font (material icon font) whi

[2016-02-16 01:56] tommyfok commented on #24
is it inactive at all?

[2016-02-16 15:17] joekrill commented on #25
IE has issues with Base64 encoded data URIs, so I'm having problems related to this also. But I'm not sure it even needs to be as complicated as you suggest. A simple option to toggle using URL-encoded plaintext instead of Base64 encoding should be sufficient. Those are the only valid way to encode data URIs anyway (see http://codepen.io/tigt/post/optimizing-svgs-in-data-uris). Then you could just

[2016-02-16 15:25] kisenka commented on #25
@joekrill good suggestion

[2016-02-22 22:38] brandonaaskov commented on #19
Though I was trying to get base64 strings to render properly (and couldn't), this at least led me to the absolute URL solution. I don't love it, but it's literally the _only_ thing I've gotten to work, so thank you @wmadden.

[2016-03-10 07:34] paraboom commented on #24
I have the same issue in my project. @tommyfok did you resolve it?

[2016-03-11 08:08] tommyfok commented on #24
:disappointed_relieved:  no @paraboom

[2016-03-11 08:26] paraboom commented on #24
@tommyfok it can happen if you already have loaders in your webpack config. If you want to apply the only one loader, you can type `var imgStr = require('!!url!./images/off.png');`. That `!!` override everything, and loader will be applied only once, not twice.

[2016-03-15 05:30] tommyfok commented on #24
@paraboom Thank you so much, i'll try it

[2016-03-15 13:22] EugeneHlushko commented on #19
Try removing sourceMap param from css loader @luqin

[2016-03-17 09:49] ivosabev opened #29 "Relative paths in url() are not resolved correctly for imported files with @import"
When you @import a CSS file the relative paths are resolved based on the file I am importing into not relative to the imported file.

**File structure**

[code]

**Header.css**

[code]

**Layout.css**

[code]

This throws an error, because for some reason after the import the relative path is no more relative to Layout.css. Any ideas?

[2016-03-18 09:59] felixheck commented on #27
Found the [answer](https://github.com/webpack/url-loader/issues/16)...

[2016-03-18 09:59] #27 closed

[2016-03-25 01:11] ssreekanth opened #30 "url-loader fails with error, when url src has query parameter in it."
[code]
The above one fails with the error as follows -
[code]

where as, if I remove the version query parameter (?v=3.0.0-alpha.3) from the url src (as shown below), then it works just fine.

[code]

webpack.config.js
[code]

Is this an issue with url-loader? If not, any suggestions to get this working, when url src has query parameter appended to it?

Appreciate your time!

[2016-04-07 23:37] bearcott commented on #30
my guess is that your regex doesn't it if there is an extra param. try adding `(\?[\s\S]+)?`:

        {
          test: /\.(ttf|woff|eot|svg)(\?[\s\S]+)?$/,
          loader: 'url-loader'
        }

[2016-04-08 00:21] ssreekanth commented on #30
Thanks a lot @bearcott ! That worked.

[2016-04-08 00:21] #30 closed

[2016-04-25 08:28] cuining opened #32 "require path"
hi,sometimes i use `require('./src/img/nobodyon.png')` in js,i want to change the path into a variable,
like `require(src)` ,but it doesn't work

[2016-04-25 10:02] ezhlobo commented on #32
@cuining hi. It can help:

* [webpack context](https://webpack.github.io/docs/context.html), for dynamic requires
* [Similar issue on webpack repository](https://github.com/webpack/webpack/issues/118)

[2016-04-25 13:27] cuining commented on #32
@ezhlobo Thanks

[2016-04-25 13:27] #32 closed

[2016-04-29 16:19] joeheyming opened #33 "url-loader name is misleading"
IMHO it should be named data-uri-loader to avoid confusion

[2016-05-27 03:42] esrevinu opened #36 "<img src={require(this.state.img_src)}/> fails"
Perhaps we cann't require a variable? How to solve this problem?

[2016-05-29 05:41] papigers opened #37 "Using absolute path"
I'm building a react application and using a very "deep" folder structure convention where each component has its own folder and sub components are nested withing those folders.
I also want to keep all my assets in one folder, is there a way to avoid `require(../../../../logo.png)` and somehow configure it to load images directly from my assets folder?

[2016-06-14 03:29] magestican opened #38 "The certificate has expired for https://www.npmjs.com/package/url-loader"
What the title says, I am not being able to do npm install due to this issue, the certificate expires on 9/6/2016

[2016-06-26 10:52] mqliutie opened #39 "How to build <img src="some.png" alt="some" />"
I have three questions

First :

Like the title, I can't do anything to solve it.

Second :

[code]

was modified

[code]

by `url-loader`

I don't know why `..` and `marks` gone.

Last:

My `webpack.config.js` is :

[code]

There is no image in `image/` I don't know if image under limit so I don't know it cause by Second or this.

Thanks for your help!

[2016-06-28 10:06] Robin-front commented on #22
+1  prefix not working

[2016-06-28 11:52] Robin-front commented on #22
I found the method

update the file-upload@0.9.0

[code]

then, webpack.config like this: use  `publicPath`  paramter

[code]
It will add imgs prefix, only.

if you want to add prefix in all of css, js, imgs ; you can write `publicPath` in `output`

[code]

[2016-06-30 04:01] liximomo opened #40 "limit parameter is not working correctly"
Webpack logged the img size of 13kb, and I have the config:

[code]

It outputs data-url instead of emitting file.

[2016-06-30 04:18] SukantGujar commented on #22
Thanks!

[2016-06-30 04:18] #22 closed

[2016-07-04 19:23] hegdeashwin opened #42 "Loading dynamic image in webpack"
I am using Angular with Webpack (with loaders like file-loader, url-loader etc.)
Now, I want to load image which is being served through http.

The build was successful, when I used require('./imgs/profile.png')
But when I used tried say E.g. require('http://myserver.com/images/profile.png') the build failed.

Now, the problem is my images are not there in local environment instead they are there

[2016-07-05 15:04] hegdeashwin commented on #42
As of now, instead of

[code]

I assigned image path as string to $scope

[code]

and in template

[code]

and it worked for me.

[2016-07-21 19:42] #42 closed

[2016-08-01 22:54] romulof opened #43 "url-loader is encoding path instead of image"
[code]

Results in inline-style:
[code]

Decoding the base64 string:
[code]

[2016-08-01 23:28] romulof commented on #43
If I force the loader, it works correclty:
[code]

[2016-08-01 23:33] romulof commented on #43
Here's my webpack loaders configuration:

[code]

[2016-08-03 02:38] julienevano commented on #43
@romulof It is probably encoding the path instead of the url because you have 2 loaders for the same file:
* the first loader (url) is encoding the image and returns a path to the encoded image
* the second loader (file) is encoding path to the encoded image

The solution is to use a single loader, similar to:
[code]

[2016-08-08 20:23] romulof commented on #43
@julienevano, I'm not chaining the loaders. I have 2 distinct tests, one with `url-loader` only and another with `file-loader` only.

I'm not sure about how `url-loader` works when the limit query don't match. Let's say: if the file is bigger than limit the loader refuses the file and Webpack tries to find another loader for it?

How do you `file-loader` as fallback for `url-loader`?

[2016-08-08 20:24] romulof commented on #43
Oh, I just read the code!

`url-loader` already uses `file-loader` as fallback.

[2016-08-08 20:24] #43 closed

[2016-08-17 10:27] oscar-b commented on #38
The SSL certificate comes from npmjs.com, not webpack or the url-loader project.

[2016-08-23 10:13] Avien commented on #40
+1

[2016-08-24 08:17] lqzerogg opened #44 "strange error"
I got a very strange error recently. I don't know whether or not it's url-loader's error. But I would be very pleased if you could figure out why this happen.
I ran into this trouble through image-webpack-loader, and I have commit a issue at that project. Here is the [link](https://github.com/tcoopman/image-webpack-loader/issues/40)

Here's my errors:
Module build failed: ModuleBuildError: Module

[2016-08-26 22:12] dcapo opened #45 "Extracting mp3 files"
Mp3 files do not get extracted if I call:
`require("url!./banana.mp3")`.
The same thing happens if I specify a rule inside webpack.config.js:
`
module: {
        loaders: [
            {
                test: /\.mp3$/,
                loader: 'url'
            }
        ]
    }
`.

Both of these calls work if I use file-loader instead of url-loader.

[2016-09-07 08:20] clownvary opened #46 "How to mix urlloader and fileloader?"
i just want to use url-loader to limit imgs,then use file-loader to custome output folder,what should i do?thanks

[2016-09-07 18:50] #46 closed

[2016-09-07 18:52] clownvary commented on #46
i end up this issue by using url-loader,and just add a 'name' config with it, like this `loader: "url?limit=61920&name=./images/[hash:8].[ext]"`

[2016-09-09 09:12] martinko2009 opened #47 "[Windows] generates wrong paths in css file"
I use windows7,  node:  node-v4.4.5-x64,  npm:  2.15.5,  url-loader:  0.5.7, webpack:1.13.1

In the js file,I write like below:

[code]

webpack.config.js configurtion like below:

[code]

but after complie, I open the js file,the image path generated is like below:

[code]

the path is wrong. The correct path will be like below:

[code]

[2016-09-09 15:17] DominicTobias opened #48 "Confused how this would ever work with a physical file (limit on)"
Hi, thanks for this plugin. It works if I use it in combination with ExtractTextPlugin, where the urls get re-written on output.

However if it's using the normal blobs, then the paths in the blobs don't get re-written.

For example in a node_module I have a font-face decl. with `src: url("../fonts/bla"` and this is literally in the blob, but of course that's wrong and it needs to be based on wher

[2016-09-12 15:33] haiyuanhsu commented on #44
I have same error in Linux, maybe because `pngquant ` is `exe ` file.

[2016-09-18 10:52] ksharifbd opened #49 "Can the url-loader process base64 url?"
The basic usage of url-loader is -

[code]

But I'm trying to use [Toastr](https://github.com/CodeSeven/toastr). In their css file the background-image rule is like the following..

[code]

When I run `webpack`. The output is-

[code]

Is it possible to process base64 url with url-loader?

[2016-09-21 03:33] lqzerogg commented on #44
@haiyuanhsu,  it seems not because of what you said. When I cut down the number of images being processed, this error disappears! Anyway, I have figured out a way to avoid this problem. [link](https://github.com/tcoopman/image-webpack-loader/issues/40)

[2016-09-21 03:35] #44 closed

[2016-09-22 03:13] monochrome-yeh opened #50 "[path] or [name] problem ?"
### Issue

I couldn't solve nested image folder when scss load url()

I've been always gotten `assets/resources/assets/img/f/f2/example.png?eeeeeeeeee` this kind of `path`;

if I only used `[name]`, it will return:
`assets/example.png?eeeeeeeeee`

however I desire it will be `assets/img/f/f2/example.png?eeeeeeeeee`
- nodejs v6.6.0
- webpack 1.13.2
- file-loader 0.8.5
### Scss example

[code]
### F

[2016-10-11 18:18] asd0102433 commented on #19
@EugeneHlushko  thank you!

[2016-10-18 00:21] atomanyih commented on #14
this is hella old but for anyone having the same problem as above, the issue is that the image is probably going through multiple loaders.

if you have a loader for pngs defined in your webpack config it'll go through that first, giving you the `module.exports =`
then when you shove it through the url loader inline, it encodes the module instead of the image.

adding a `!` at the start of the requ

[2016-11-02 19:24] eldinoyev commented on #50
Having a similar issue

[2016-11-04 03:37] monochrome-yeh commented on #50
Webpack2 seems could solve this problem.
FYI: https://gist.github.com/sokra/27b24881210b56bbaff7#loaders-configuration

and I've posted this issue on another repository.
https://github.com/webpack/file-loader/issues/90

[2016-11-04 03:37] #50 closed

[2016-11-11 01:59] ianaya89 opened #54 "SVG Stacking"
I am trying to use [SVG-Stacking](https://github.com/hofmannsven/SVG-Stacking) in my project but seems that `url-loader` is not able to load it properly.

`<img src="assets/icons/icons.svg#billing" />`

![screen shot 2016-11-10 at 10 51 05 pm](https://cloud.githubusercontent.com/assets/3258966/20201616/33d711de-a798-11e6-8c5f-eb8294a14528.png)

[2016-11-19 07:04] Manidos commented on #37
@papigers, have you found a solution? Having the same problem http://stackoverflow.com/questions/39734132/file-loader-set-root-file-path?noredirect=1&lq=1

[2016-11-23 19:24] krzkaczor commented on #54
I just ran into similar situation. In my case, there were 2 loaders trying to load svg file. Maybe it's also problem in your setup?

[2016-11-25 21:32] JimmyMultani commented on #39
Is anyone maintaining this repo? I'm having a really hard time figuring this out myself and documentation is scarce on how to configure this.

[2016-11-28 08:06] XylitolLin commented on #37
@Manidos , the page not found and i want to know how to solute that problem

[2016-11-28 08:21] papigers commented on #37
Check webpack's `resolve.root` and `resolve.alias` config options.

[2016-11-28 20:12] danawoodman commented on #36
I image this fails because url-loader is only called when building your bundle and cannot be called dynamically during runtime of your application.

[2016-11-28 20:40] SpaceK33z commented on #36
Jep, this not possible and could never be handled by url-loader since it is dynamic.

[2016-11-28 20:40] #36 closed

[2017-01-08 15:59] jin5354 opened #56 "Can I extract all Base64 images string into one separated trunk?"
My project has many small images, which are tansformed into Base64 string and increase the bundle size by 70~kb. Can I separate all the base64 images into one separated asynchronous trunk to get better performance, or I can just use sprite image? Thanks for your help!

[2017-01-20 15:50] alexandrbig commented on #6
Is it possible to load some svgs inline from one folder and all others like path only?
Please help.

[2017-01-20 16:01] iamstarkov commented on #6
@alexandrbig have two loader/ruler items with two different test regexps

[2017-01-27 14:42] bebraw commented on #38
Yup. npm issue, closing.

[2017-01-27 14:42] #38 closed

[2017-02-06 13:18] sjoerdvisscher opened #59 "Release a new version to npm"
The dependency on mime was bumped a year ago, but there was never a new version released to npm containing it!

[2017-02-12 18:09] Klathmon opened #60 "Interoperate with `imagemin-webpack-plugin`"
I'm the author/maintainer of [`imagemin-webpack-plugin`](https://github.com/Klathmon/imagemin-webpack-plugin). It's a plugin that does the same job as `image-webpack-loader`, but as a plugin so it can easily work on images that aren't `require()`d, but that are added from other plugins, loaders, or anything else.

I had an issue come in that images that were inlined from this loader weren't gettin

[2017-02-17 11:53] newasmod opened #61 "prefix specific css file urls paths"
set webpac.config to prefix url in background-image: url(prefix- path)
so if i have in css file something like:
.limage09o { background-image: url('/img/image.png'); }
i want webpack to add prefix to url('/img/image.png') like:
url('../../../../img/image.png')

[2017-02-27 10:52] cenfun opened #63 "about version upgrade"
when you update "loader-utils" to "^1.0.2" from "0.2.x", you'd better update url-loader to "0.6.x" or "1.0.x".
because of loader-utils 1.x is used ES6 that's a big change but url-loader just change to 0.5.8 from 0.5.6.
it's lots of error when we use ~0.5.6

[2017-03-04 02:09] d3viant0ne commented on #63
The update to loader-utils was limited to an internal API change not functionality. What it did do was force a NodeJS version beyond 4.3.x.

Support for .10 / .12 was dropped when NodeJS officially dropped their support of these versions.

`Webpack will continue to drop support for versions as NodeJS does`

 This has been handled as a `patch` version for all loaders requiring the same change acros

[2017-03-04 02:09] #63 closed

[2017-03-04 05:44] nimojs commented on #22
Because based on `file-loader` so:

[code]
`name=__media/[path][name][hash].[ext]`

@d3viant0ne

If don't support `prefix`, please delete documents related parts,thanks.

[2017-03-06 03:30] xingangsun opened #65 "can disable base64 when required a file that less than the limit"
When I use this plugin, it will be encode all of the file that less than the limit, but sometimes I don't want to encode though its file size less than the limit of my configuration

[2017-03-06 14:14] terencechow opened #66 "0.5.8 is a breaking change, prolly should treat it as 0.6.0"
v0.5.7
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
errors
**If the current behavior is a bug, please provide the steps to reproduce.**
have a project with node 0.10 and use url-loader. you will get an error

**What is the expected behavior?**
no error

**Please mention other relevant information such as your webpack version, Node.js version and O

[2017-03-06 15:25] d3viant0ne commented on #66
If you are on Webpack 1.x and i'm betting you are, just `pin to 0.5.7` there won't be further updates so no need to target a range here.

This isn't specific to url-loader , this is something that rolled down from a common library ( long story ). There is unfortunately, nothing I can do about it at this point though I don't disagree with what you are saying. Everything in the org will be getting a

[2017-03-06 15:25] #66 closed

[2017-03-13 14:25] royJang commented on #49
you can use the `data-uri` method with less :)

[2017-03-16 12:27] sjoerdvisscher commented on #59
Thanks!

[2017-03-16 12:27] #59 closed

[2017-03-24 16:31] svipben opened #68 "Documentation URL"
**Do you want to request a *feature* or report a *bug*?**

Bug?

**What is the current behavior?**
`Documentation: Using loaders` redirect you to old webpack website which is for v1, not for v2.

**What is the expected behavior?**
Redirect to new website which is for v2.

[2017-04-09 04:11] d3viant0ne opened #69 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-09 05:27] michael-ciniawsky commented on #68
Will be fixed by #70

[2017-04-09 05:31] michael-ciniawsky commented on #61
@newasmod I think you will need to set that up with `css-loader` and you could try the `prefix` option aswell

[2017-04-09 05:33] michael-ciniawsky commented on #10
😆 Will be fixed by #70 (I removed it ignorantly) and it will be semver major release anyways

[2017-04-09 05:33] #10 closed

[2017-04-09 05:33] #9 closed

[2017-04-09 05:58] michael-ciniawsky commented on #19
@brandondurham You still experience this regression ?

[2017-04-09 06:01] michael-ciniawsky commented on #17
@andresmrm Still got this regression, I would like to hear more about this if possible 😛

[2017-04-09 06:07] michael-ciniawsky commented on #65
@xingangsun use the exclude option in `webpack.config.js` and reorganise your files

**webpack.config.js**
[code]

Otherwise send PR to propose a `exclude` options for discussion

[2017-04-09 06:07] #65 closed

[2017-04-09 06:12] michael-ciniawsky commented on #60
@Klathmon It's been a while now :), so first of all did you investigate further and found a solution?
I will address this, but out of the blue I'm not sure if this possible/fixable within `url-loader`, but we can recommend to use `file-loader` + your plugin as alternative to consider instead of using `url-loader`

[2017-04-09 06:14] michael-ciniawsky commented on #49
@ksharifbd Not sure tbh 😛 , did you try other loaders like `raw-loader/source-loader/toString-loader` ?

[2017-04-09 07:20] michael-ciniawsky commented on #56
@jin5354 The loader itself does simply encode the file under a certain byte limit to DataURL's and a loader in general always works on chunk/file level. I think for what you are after, you will need to write/search for a plugin instead, which works on **complation** level (whole bundle) and implement this logic there.

[2017-04-09 07:20] #56 closed

[2017-04-09 07:26] michael-ciniawsky commented on #54
@ianaya89 Do you still have this regression ? If so, could you provide more info about your setup please?

[2017-04-09 07:30] michael-ciniawsky commented on #48
@DominicTobias Could you provide more info about your setup please? Maybe you are looking for something like `copy-webpack-plugin` or similar, which copys the physical files to the dest folder in case you don't **require** them within you're bundle

[2017-04-09 07:32] michael-ciniawsky commented on #47
@martinko2009 Still got this issue with webpack 2? Does this also happen without `vue-loader`?

[2017-04-09 07:36] michael-ciniawsky commented on #40
@liximomo Still got this regression, I need more info about your setup (`webpack.config.js`) with the relevant parts please. Does it e.g work without specifying the `name` option

[2017-04-09 07:37] michael-ciniawsky commented on #39
@mqliutie I need more info about your setup for debugging please

[2017-04-09 08:01] #37 closed

[2017-04-09 08:03] michael-ciniawsky commented on #33
Well yep, but this wonfix since it is published/established already sry 😛

[2017-04-09 08:03] #33 closed

[2017-04-09 08:04] michael-ciniawsky commented on #29
@ivosabev Can you provide more info about your setup please (`webpack.config.js`) ?

[2017-04-09 08:07] michael-ciniawsky commented on #26
@zwhitchcox Please provide more info about your setup (`webpack.config.js`). E.g is the `<img src={require('image.png')} />` inside a `.js` or `.html` file (requires another loader) ?

[2017-04-09 08:08] zwhitchcox commented on #26
Oh sorry, this was fixed by the previous comment

[2017-04-09 08:08] #26 closed

[2017-04-09 08:10] michael-ciniawsky commented on #25
@kisenka Sry for the delay are you still interested in a solution here ? @joekrill's comment sounds promising (add options to set encoding)

[2017-04-09 08:11] michael-ciniawsky commented on #25
@kisenka @joekrill PR highly welcome after #70 lands 😛

[2017-04-09 08:14] michael-ciniawsky commented on #24
@tommyfok Still got this regression, it's recommended to setup a `webpack.config.js` and avoid the loader setup in file paths. I need more info about your current setup aswell please

[2017-04-09 08:14] #18 closed

[2017-04-09 08:16] michael-ciniawsky commented on #23
@tnrich Do your still have this issue? I need more info about your setup please

[2017-04-09 08:19] DominicTobias commented on #48
Hi np it's too long since I was looking at this now so I'm going to close it 👍

[2017-04-09 08:19] #48 closed

[2017-04-09 08:37] ivosabev commented on #29
Unfortunately this was quite some time ago and I don't have the same setup anymore. I guess you may close it since no one else had the same issue.

[2017-04-09 08:49] michael-ciniawsky commented on #29
Alright, we are planning to take a through look at `css-loader/url-loader` and friends to shape issues like that out in the future, but that's a abstract statement here. Sry for the delay and inconvience

[2017-04-09 08:49] #29 closed

[2017-04-09 12:08] brandondurham commented on #19
All good here! Removing `sourceMaps` did the trick.

[2017-04-09 12:08] #19 closed

[2017-04-10 01:18] tnrich commented on #23
@michael-ciniawsky you can close this for the time being as I'm not currently using url loader and can't get you that info. Thanks for getting back to me though. Good luck!

[2017-04-10 02:36] michael-ciniawsky commented on #23
I will ensure to test the common font variants for the next `major` of `url-loader` and if any new regressions just open a new issue 😛

[2017-04-10 02:36] #23 closed

[2017-04-10 03:00] xingangsun commented on #65
ok, thanks a lot😊

[2017-04-10 07:13] bengrunfeld commented on #19
@EugeneHlushko can you please show code, or give explanation of how to remove the `sourceMap` param from the CSS (or SASS) loader?

e.g. if these are your loaders in `webpack.config.js`, where would you change the code?

[code]

[2017-04-10 07:21] michael-ciniawsky commented on #19
@bengrunfeld With the `webpack.config.js` you posted `sourceMap` should be off already, what is your particular issue ? Please provide more info about your setup (webpack version, loader versions, `webpack.config.js`) and logs (stacktrace) etc.

[2017-04-10 10:49] andresmrm commented on #17
Hello, @michael-ciniawsky!

I tested my code now without using my custom modification for url loader, and it seems to work. So I'm changing back to it. Thanks for reaching me! Feel free to close this issue.

[2017-04-10 16:54] tnrich commented on #23
Thanks!

[2017-04-10 20:22] bengrunfeld commented on #19
@michael-ciniawsky Here is a link to a repo with an example of the bug. [link](https://github.com/bengrunfeld/webpack-examples/tree/master/6-image-loaders)

Clone, `npm install` and run `webpack` and if you open `index.html` in Chrome, you will see the following error in the developer console: `Failed to load resource: net::ERR_FILE_NOT_FOUND`, but if you inspect the offending element `<div class=

[2017-04-10 23:52] michael-ciniawsky commented on #17
@andresmrm If you think there is an issue regarding `url-loader` + reasonable configuration just open a new issue 😛

[2017-04-10 23:52] #17 closed

[2017-04-12 03:25] michael-ciniawsky commented on #19
@bengrunfeld I will test it and take a deeper look soon 😛  things a saw at first glance are

**.babelrc**
[code]

[`babel-preset-env`](https://github.com/babel/babel-preset-env) 'includes' `babel-preset-es2015` already you applying it twice atm, check the README :)

For the URL issue, since you're are using `sass-loader` you may need [`resolve-url-loader`](https://github.com/bholloway/resolve-url-

[2017-04-12 13:02] evilebottnawi opened #71 "Reduce package size"
**Do you want to request a *feature* or report a *bug*?**

Chore.

**What is the current behavior?**

Contain `.github` template.

**What is the expected behavior?**

Don't contain `.github` template.

**If this is a feature request, what is motivation or use case for changing the behavior?**

Reduce package size

**Please mention other relevant information such as your webpack version, Node.js ve

[2017-04-12 14:16] d3viant0ne commented on #71
@evilebottnawi - This will be taken care of in #70 which has a properly defined `files` property in the `package.json`

[2017-04-12 14:17] evilebottnawi commented on #71
@d3viant0ne thanks!

[2017-04-12 14:17] #71 closed

[2017-04-17 00:36] martinko2009 commented on #47
I haven't use webpack 2. because webpack2 is still beta version.So these projects are still use webpack 1.
Yes, this also happen without vue-loader.

[2017-04-20 05:27] michael-ciniawsky opened #73 "Standardize README"

[2017-04-20 09:14] evilebottnawi commented on #40
@liximomo why your use options in `loader`, for this we should use `options`(`{ loader: 'url-loader', options: { limit: 9000 }}`) or use in `require` (`require('url-loader?limit=20000!shared/images/logo.png');`)

/cc @michael-ciniawsky maybe it is old webpack behavior?

[2017-04-21 01:19] #40 closed

[2017-05-03 22:37] tbutman commented on #65
I was wanting to exclude certain assets that are below the limit as well. The problem is we used react-create-app and have not yet ejected, so we can't modify the webpack configs Is there any way to prevent the loader from inlining the data without ejecting and modifying the config?

[2017-05-31 15:45] Genuifx commented on #61
@michael-ciniawsky bro, you can use publicPath to set up your project assets' prefix path. This is similar to the prefix.

[2017-06-10 00:05] michael-ciniawsky commented on #54
Reopen if still regressions, closing due to inactivity meanwhile

[2017-06-10 00:05] #54 closed

[2017-06-10 00:07] michael-ciniawsky commented on #45
Closing due to inactivity, feel free to reopen

[2017-06-10 00:07] #45 closed

[2017-06-10 00:07] michael-ciniawsky commented on #25
#28 needs to be reworked (WIP)

[2017-06-10 00:09] michael-ciniawsky commented on #39
Closing due to inactivity, feel free to reopen and please provide more info

[2017-06-10 00:09] #39 closed

[2017-06-10 00:11] michael-ciniawsky commented on #47
Is it only this particular file or paths are off in general ? This looks like an issue with windows paths

[2017-06-10 00:15] michael-ciniawsky commented on #49
Closing due to inactivity, `url-loader` is responsible for `base64` encoding files, so it isn't needed in your example and option to set/disable encoding is underway in #28

[2017-06-10 00:15] #49 closed

[2017-06-10 00:19] michael-ciniawsky commented on #61
@newasmod See @Genuifx comment 😛

[2017-06-10 00:19] #61 closed

[2017-06-10 00:20] michael-ciniawsky commented on #24
Closing due to inactivity, feel free to reopen

[2017-06-10 00:20] #24 closed

[2017-06-12 02:29] ianaya89 commented on #54
Sorry for late response, the issue was just a misconception of how to use Webpack. Thanks for your time.

[2017-06-12 16:16] #73 closed

[2017-06-12 16:25] d3viant0ne commented on #68
Closed by #77 77

[2017-06-12 16:25] #68 closed

[2017-06-16 09:40] shaodahong opened #80 "Url-loader plus useRelativePath after the entry into force, but no pictures in the dist directory"
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**
The picture is not compiled
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack ver

[2017-06-27 23:31] hhhonzik commented on #80
+1 having the same problem, even without useRelativePath

[2017-06-28 01:01] shaodahong commented on #80
@hhhonzik I have resolved using `publicPath: '../../'`

[2017-07-05 16:19] olistik commented on #43
I guess the problem lies in the documentation, because if I read:

https://webpack.js.org/loaders/url-loader/#usage

and even if I read about the `limit` parameter later on:

I'm still not fully aware that I need to remove `file-loader` and that I can pass all of `file-loader` options **within** `url-loader`.

[2017-07-07 10:54] liujingbreak opened #82 "Feature request: Add an option to replace "file-loader" with any other customized loader"
Current the url-loader is hard coded to fallback calling `file-loader` internally.
What I wish is that I can use a customized loader to replace `file-loader`, e.g.  `lib/dr-file-loader`

[code]
Or
[code]

[2017-07-07 11:00] evilebottnawi commented on #82
@webpack-contrib/org-maintainers what do your think about this?

[2017-07-07 11:07] hulkish commented on #82
I think this is a good idea. I personally haven't had this need - but I can see why it would be useful.

Maybe this can be better accounted for in the rules config api?

[2017-07-07 11:22] michael-ciniawsky commented on #82
### `options.fallback`

[code]

On the other hand requiring a file isn't that special, @liujingbreak what is your usecase for a custom loader, what functionality is `file-loader` missing atm ?

[2017-07-12 08:31] mmarzantowicz opened #83 "Misleading documentation - options.prefix"
There is an option mentioned in `READMEmd` in **Options** section called **prefix**. It is poorly documented and has no effect when used in `webpack.config.js` files. Can I create PR to remove it or it's on the todo list to be implemented at sometime?

[2017-07-28 06:57] Genuifx commented on #83
[https://github.com/webpack-contrib/url-loader/issues/61](61) have a look, but the documentation do need an update(0_0)

[2017-08-01 08:04] RajeshKumar1990 opened #84 "Getting error ( options as Unexpected Identifier)"
I am using url-loader to load image.
My react is 15.5.4,webpack is 3.3.0.
This is my webpack.config.js configuration
[code]

Error is

[code]
Is there any changes need to be made ????

[2017-08-01 08:08] bebraw commented on #84
Instead of `loader: 'url-loader'` you should have `loader: 'url-loader',`. It's a syntax error.

[2017-08-01 08:08] #84 closed

[2017-08-01 19:10] cainlevy opened #85 "inconsistent export syntax when used with file-loader@1.0"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When used in a project with `file-loader@1.0`, the current version of `url-loader` will create a CommonJS export for inlined images but an ES module export for external images.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. create a webpack project with `file-loader

[2017-08-01 19:14] evilebottnawi commented on #85
@cainlevy can your provide test repo, what is broken?

[2017-08-01 19:14] evilebottnawi commented on #85
Maybe related to https://github.com/webpack-contrib/file-loader/issues/185

[2017-08-01 20:25] cainlevy commented on #85
I tested https://github.com/webpack-contrib/file-loader/pull/183 and confirmed that it does not solve the bug.

The problem is that https://github.com/webpack-contrib/url-loader/blob/master/index.js#L31 returns CommonJS exports while https://github.com/webpack-contrib/url-loader/blob/master/index.js#L36 returns ES exports. This inconsistency means that I must switch import syntax depending on whet

[2017-08-02 10:13] evilebottnawi commented on #85
@cainlevy be greate if your create test repo, thanks!

[2017-08-02 16:10] xuxinhang commented on #17
I meat the same issue just now.
The problem was solved when I add `/\.svg$/` to the `exclude` prop  of the rule using `file-loader`.
That show the issue would appear when a file type was processed by `file-loader` and `url-loader` at the same time.

[2017-08-02 19:25] cainlevy commented on #85
Test repo: https://github.com/cainlevy/webpack-contrib-url-loader-issue-85

When the source files use ES2015 import syntax, Webpack is able to obscure the difference between `url-loader`'s CommonJS modules and `file-loader`'s ES2015 modules. This can be seen by opening `dist/index-es2015.html` and noting only one broken image.

But when Webpack bundles with a loader that transpiles to CommonJS (fr

[2017-08-18 15:26] DaxChen commented on #82
My use case will be:
If the image is less than limit, inline it;
If the image exceeds the limit, fall back to [responsive-loader](https://github.com/herrstucki/responsive-loader) or [resize-image-loader](https://github.com/puppybits/resize-image-loader) to generate multiple responsive images (for `<img srcSet />`.

Any thoughts on how can this be done?

[2017-08-19 13:36] tendolukwago commented on #45
@michael-ciniawsky did you ever end up figuring this out?

[2017-08-22 14:09] evilebottnawi commented on #47
@martinko2009 friendly ping, problem still exists?

[2017-08-31 15:58] RomainGoncalves opened #86 "Using the base64 export as a component"
Hello,

I have created a library. In this library I have a component that uses a SVG icon like so:

[code]
When calling `<GetIcon />` from the library's project, it works just fine.

I then build the project, publish it on NPM and try using it into my other project. There when I call `<GetIcon />` I get this error:

[code]

I understand that during the build my library exported the SVG in base64,

[2017-08-31 18:53] michael-ciniawsky commented on #86
Don't use the `url-loader` in your case, `base64` encoding is not mandatory for SVG

- [svg-url-loader](https://www.npmjs.com/package/svg-url-loader)
-  `file-loader`

**webpack.config.js**
[code]

[2017-08-31 18:53] #86 closed

[2017-09-01 07:32] RomainGoncalves commented on #86
Thanks I will try that and get back to you.

[2017-09-13 17:17] evilebottnawi commented on #47
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Also post don't contain :+1:  or any other responses and comments. Seems bug is out of scope `url-loader`,  because we use `loader-utils` for interpretation `[name]` (and other stuff) https://github.com/webpack-contrib/url-loader/blob/master/index.js#L5. Also you use outdated `webpack` version

[2017-09-13 17:17] #47 closed

[2017-09-13 17:37] evilebottnawi commented on #60
@Klathmon any news or solution? I recommend to implement loader for this purpose too, thanks!

[2017-09-13 17:39] evilebottnawi commented on #80
@shaodahong @hhhonzik `url-loader` don't modify path, seems issue(s) related to `file-loader`, thanks!

[2017-09-13 17:39] #80 closed

[2017-09-13 17:58] evilebottnawi commented on #85
@cainlevy let's fix this after https://github.com/webpack-contrib/file-loader/pull/183

[2017-09-13 22:27] #83 closed

[2017-09-13 23:01] michael-ciniawsky commented on #85
We should pin the file-loader dependency to `< v1.0.0` for now. `css-loader` && `html-loader` asset resolving is also affected by CJS => ES2015 Modules change, we sadly can't do that now

@cainlevy Downgrade `file-loader` for now as it isn't correctly working in `v1.0.0+`

[2017-09-13 23:02] #85 closed

[2017-09-15 20:15] robwierzbowski commented on #10
I was wondering the same thing 😄

[2017-09-17 22:28] rofrol commented on #61
I fixed this by adding two more loader before `sass-loader`:
`'css-loader', 'resolve-url-loader', 'sass-loader'`

https://github.com/webpack-contrib/sass-loader#problems-with-url

[2017-09-20 21:49] delebash commented on #19
Any update on this?  I don't have source-maps enabled.  The one difference from the OP's is that my css is inside "<style>" tags instead of a separate  css file

[2017-09-26 11:43] evilebottnawi commented on #82
Done in https://github.com/webpack-contrib/url-loader/pull/88

[2017-09-26 11:43] #82 closed

[2017-09-28 17:22] TonyLuo opened #90 "how to override publicPath in url-loader"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
I am trying to set relative path for publicPath to be "./", in case the application is not a root application in tomcat.

      {
        test: /\.(woff2?|eot|ttf|otf)(\?.*)?$/,
        loader: 'url',
        query: {
          limit: 10000,
          name: utils.assetsPath('fonts/[name].[hash:7].[ext]')

[2017-09-28 17:35] TonyLuo commented on #61
@Genuifx  when I try to set publicPath: "./", the css will refer to the current folder. is any option to override the publicPath for url-loader?
``
    {
        test: /\.(woff2?|eot|ttf|otf)(\?.*)?$/,
        loader: 'url',
        query: {
          limit: 10000,
          name: utils.assetsPath('fonts/[name].[hash:7].[ext]')
        },
          options: {
          publicPath: '/'
        }

[2017-10-02 16:36] ntucker opened #92 "mime@1.3.6 is vulernable"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
mime dependency is at 1.3.6

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
mime should be 1.4.x

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information s

[2017-10-02 16:41] ntucker commented on #92
https://github.com/webpack-contrib/url-loader/commit/ced5990b9fef7e1ccf71d69f26c527f8c0a3c87a fixes the dependency to allow for 1.4.x versions, so we really just need a release

[2017-10-02 21:09] michael-ciniawsky commented on #92
The dependency uses `^` so within the semver minor/patch range it should install the latest available on a fresh install anyways, but will be released as soon as someone from the release team as time of course :)

[2017-10-02 21:09] #92 closed

[2017-10-02 21:10] michael-ciniawsky commented on #60
Closing due to inactivity for now feel free to reopen

[2017-10-02 21:10] #60 closed

[2017-10-02 21:15] michael-ciniawsky commented on #90
Use the [`file-loader`](https://github.com/webpack-contrib/file-loader) directly instead or ensure that the `limit` is reached for all your fonts. Otherwise they will be inline as `base64` encoded BLOB into your CSS

[2017-10-02 21:15] #90 closed

[2017-10-02 22:13] ntucker commented on #92
I'm just saying a release is important now since there's a vulnerability

[2017-10-02 22:48] michael-ciniawsky commented on #92
Yep, I understand  and we are aware, but it shouldn't be that urgent since `^` will likely pull `mime` v1.4.1 already, the dependency minimum should be set to v1.4.1 just in case nevertheless

[2017-10-03 02:03] ntucker commented on #92
Oh, I mean the last released version of this library didn't use ^. Usage of ^ was done in https://github.com/webpack-contrib/url-loader/commit/ced5990b9fef7e1ccf71d69f26c527f8c0a3c87a

[2017-10-03 03:22] d3viant0ne commented on #92
It's out on the `next` dist-tag for the time being.

[2017-10-04 02:43] LarsOL opened #93 "[v0.6.0] Breaks option pass through (`schema`)"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
The validation stops the 'name' option from being a valid entry.
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

The 'name' should be passed through into 'file-loader' if the fallback loader is triggered, like the previous versi

[2017-10-04 03:44] michael-ciniawsky commented on #93
Ooops... 😛  my bad, PR is [here](https://github.com/webpack-contrib/url-loader/issues/94)

[2017-10-04 08:56] #93 closed

[2017-10-04 10:38] huineng opened #95 "[v0.6.0] ValidationError using `limit` as `{String}`"
with the current release > 0.6.0 you published a day ago
i'm now getting build errors with webpack and angular
webpack 3.6
angular 4.4.4

Module build failed: Validation Error
URL Loader Invalid Options
options['name'] should NOT have additional properties
options.limit should be number

[2017-10-04 10:43] evilebottnawi commented on #95
@huineng please update to `0.6.1`, thank you!

[2017-10-04 12:31] JounQin commented on #95
@evilebottnawi It still breaks on string query like `url-loader?limit=10000`

[2017-10-04 12:45] damonbauer commented on #95
@evilebottnawi Seeing the same errors on `0.6.1`:

[code]

Results in:
[code]

[2017-10-04 12:47] huineng commented on #95
yes that's what i meant with > 0.6.0 (also 0.6.1)

Now i changed from
[code]

to
[code]
and this works

[2017-10-04 12:59] evilebottnawi commented on #95
@damonbauer seems `['url-loader?limit=8192']` limit interpreted as `string`

[2017-10-04 13:03] evilebottnawi commented on #95
PR: https://github.com/webpack-contrib/url-loader/pull/96

[2017-10-04 17:57] #95 closed

[2017-10-09 08:36] Genuifx commented on #61
@TonyLuo This is my configuration, remind that you need `file-loader@0.10.0` cause url-loader dont support file-loader 1.0
 `{
                    test: /\.(jpg|png|gif|svg)$/,
                    exclude: [projectStorage],
                    loader: 'url-loader',
                    options: {
                        limit: 10000,
                        publicPath: '../',

[2017-10-09 09:18] TonyLuo commented on #61
@Genuifx it works. thanks so much!

[2017-10-26 17:38] hpeikari commented on #86
@RomainGoncalves
Any development on this? I have the exact same issue. The suggested solution didn't help.
I wonder if you could fix it somehow?

[2017-10-28 14:00] JohnieXu opened #97 "packing font-awesome css run"
when i packing .font-awesome.css with url-loader, i got  **404error**
i checked the css after packing,
### dist file path: `static/fonts/`

### the 404 tips path is:
[code]
### problems:
there shouldn't have this `/css/static`

[2017-10-28 21:07] michael-ciniawsky commented on #97
Please show your current config (`webpack.config.js`)

[2017-10-31 08:19] sqfbeijing opened #98 "How to specify the image path by custom?"
In the doc, fallback setting can  Specify loader for the file when file is greater than the limit (in bytes).   My assets will generate in the 'dist' folder, like this :

[code]
But, i want generate the images like : 'dist/img/[hash:8]/[name].ext',
I set the webpack config , but it didn't work.  Help...

[code]

[2017-10-31 14:56] michael-ciniawsky commented on #98
**webpack.config.js**
[code]

[2017-10-31 14:56] #98 closed

[2017-11-03 05:36] sqfbeijing commented on #98
thx.

[2017-11-05 02:48] fiter92 opened #99 "can't pass parameters into fallback"
I'm using the latest versions of webpack, url and file loaders and etc.

If I run `fallback: 'file-loader'` everything is ok, but if I wat to save fonts into the fonts directory
`fallback: 'file-loader?name=fonts/[name].[ext]'`  I've got an error:
[code]
Is there any way to save large font into the fonts path?

[2017-11-05 02:53] michael-ciniawsky commented on #99
[code]

[2017-11-05 02:53] #99 closed

[2017-11-08 14:55] amitayr opened #100 "url-loader not working when having an unclosed quote inside multiple-lines' comment"
i was having a strange problem - some of the images included in my application's scss files, weren't handled by the url loader.

my current configuration of url-loader is this:
[code]
so all css rules with "background-image" of images large enough should be collected into my "dist/images" folder and their url should be replaced with their url inside "dist/images".
however, although some of the ima

[2017-11-09 16:16] evilebottnawi commented on #100
@amitayr can you provide minimum reproducible test repo?

[2017-11-30 15:15] AndrejGajdos commented on #86
I have the same issue as well.

[2017-11-30 15:18] AndrejGajdos commented on #86
I have the same issue as well.

[2017-12-07 03:47] jasonsChen opened #101 "How to exclude the specified resource"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-12-07 03:47] jasonsChen commented on #101
How to exclude the specified resource

[2017-12-07 04:33] #101 closed

[2017-12-16 07:26] michael-ciniawsky commented on #100
Feel free to reopen when a reproduction repo is provided

[2017-12-16 07:26] #100 closed

[2017-12-16 07:26] michael-ciniawsky commented on #97
Feel free to reopen if more info is provided

[2017-12-16 07:26] #97 closed

[2017-12-17 06:52] #69 closed

[2017-12-18 19:28] geoshar opened #103 "Http links?"
Is there a way to do the same thing with HTTP links?
for example:
`https://fonts.gstatic.com/s/roboto/v18/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2`

[2017-12-18 22:27] michael-ciniawsky commented on #103
Nope, `webpack` relies on the file system, you can only fetch additional data within a loader, but a source file (even if empty) must exist when using a loader to my knowledge

[2017-12-20 01:01] geoshar commented on #103
Ok, thank you.

[2017-12-20 08:39] developer-lindner opened #104 "works in production build only"
What's the reason that webpack uses this loader only for production build ?!

[2017-12-20 09:18] #103 closed

[2017-12-20 09:22] evilebottnawi commented on #104
@developer-lindner what do you mean? Can you provide example or minimum reproducible test repo?

[2017-12-20 10:50] evilebottnawi commented on #104
@developer-lindner can you provide webpack config? Also why you need `data` uri in development? It is spends time on `base64`, what increase build time.

[2017-12-20 11:47] developer-lindner commented on #104
Well, i don't really need them, but want to understand what's happening. In dev build the whole font is missing.

[2017-12-20 11:48] evilebottnawi commented on #104
@developer-lindner need example of config or minimum reproducible test repo, seems you have invalid configuration

[2017-12-20 11:52] developer-lindner commented on #104
[code]

[2017-12-20 12:04] evilebottnawi commented on #104
@developer-lindner maybe problem in `happypack` or `css-loader` and `OptimizeCssAssetsPlugin` (don't use their together - `css-loader` with minimize option mean run `cssnano`).

[2017-12-27 12:51] #104 closed

[2018-01-14 21:31] ljwagerfield commented on #90
I disagree with the workaround (please correct me if I'm wrong!)...

Without being able to set `publicPath` means any path `url-loader` generates will be wrong... meaning we have to set `limit` to `0` since if it ever produced a path, it would be incorrect.

Would it be possible to bring this module inline with `file-loader` in this respect, since the behaviour of this loader is effectively "a dec

[2018-01-30 16:43] philraj opened #106 "Missing options in the docs"
Hi,

It would be nice to list all the supported options in the docs, including the ones mirrored from `file-loader`, like `name`. What do you think?

[2018-01-30 19:20] jeusdi opened #107 "Unable to load iconic fonts"
I've installed font-awesome:

    npm install font-awesome

I've added these rules on webconfig:

    { test: /\.woff(2)?(\?v=[0-9]\.[0-9]\.[0-9])?$/, loader: "url-loader?limit=10000&mimetype=application/font-woff" },
    { test: /\.(ttf|eot|svg)(\?v=[0-9]\.[0-9]\.[0-9])?$/, loader: "file-loader" }

Into my `main.scss` I've added this import:

    @import "font-awesome/scss/font-awesome.scss";

`f

[2018-01-31 09:44] evilebottnawi commented on #107
@jeusdi seems something wrong in version or configuration. Can you create minimum reproducible test repo?

[2018-01-31 10:04] jeusdi commented on #107
Here you can pull my current code: [repository link](https://github.com/jeusdi/fontawesome).

In order to reproduce it:

    yarn start
    go to localhost:3000

Then, you are going to see above image

[2018-02-03 18:18] djbingham opened #108 "Pass options through to fallback"
Hello! Thanks for the great plugin.

When setting a file size limit for url-loader, I'd like to also set my own file naming pattern for files exceeding the limit. The default fallback (file-loader) has a `name` option which I've used in the past but, looking at line 44 of `index.js`, it seems that there's no attempt to pass any options through to the fallback loader.

Is this something that could

[2018-02-05 09:32] evilebottnawi commented on #108
@djbingham can you describe use case?

[2018-02-05 11:53] djbingham commented on #108
Basically, I wanted to add a hash into the file name for cache-busting, like this:

[code]

However, I've since realised that invalidates all of the caching within the build process, which is absolutely not what I want, so that seems like a bad idea. I'll have to rethink my cache-busting strategy.

[2018-02-07 06:09] faustbrian opened #109 "Different paths per loader"
I have a `base` html tag in my document and reference files via `src="assets/bla.css"` instead of `src="/assets/bla.css"` **(note the leading /)**.

The issue that causes is that the url-loader references fonts via `assets/fonts/bla.otf` instead of `/assets/fonts/bla.otf` inside a CSS file which then causes the browser to try to load the font from `/assets/css/assets/fonts/bla.otf`.

Is there some

[2018-02-07 08:13] michael-ciniawsky commented on #109
In case the `asset` exceeds the limit the `file-loader` is used which provides options for this (see the `file-loader` README). `publicPath` should default to `'/'`, since the `file-loader` will generate a URL looking like this

[code]

[2018-02-07 08:13] #109 closed

[2018-02-07 08:15] michael-ciniawsky commented on #109
You can pass all  `file-loader` options to `url-loader` like you already did with `name`

[2018-02-07 11:44] faustbrian commented on #109
The issue is that the paths inside the CSS are relative to the CSS file itself so unless I manually go into the CSS file and prefix the font paths with a `/` it will try to load them from a wrong path.

That is why I am asking if there is a way to specify 1 path that is used for output and 1 format that is used inside the CSS. I basically want to tell Webpack to prefix all font paths inside a CSS

[2018-02-07 12:15] michael-ciniawsky commented on #109
Thats what the `file-loader` && `css-loader` should do already. `webpack` picks up the relative path and replaces it with the `output` path of the asset in the CSS

[2018-02-07 13:54] faustbrian commented on #109
Solved it by setting the domain as `publicPath`.

[2018-02-12 18:37] jasongrout commented on #6
For what it's worth, in JupyterLab we're using the url-loader with a mimetype specified, like this:

[code]
(https://github.com/jupyterlab/jupyterlab/blob/bb7f8dabc2d4a927b325ca301ee02422522b7eeb/jupyterlab/staging/webpack.config.js#L134)

[2018-02-12 20:11] jorgeitenjr opened #110 "Url with slash on the client"
I'm developing a React SSR application with webpack bundling both on the client and the server.
When hydrating my component I'm receiving a warning telling about a difference between client and server.

`Warning: Prop `src` did not match. Server: "react.png" Client: "/react.png"`
Seems webpack is generating different urls.

versions:
`webpack@3.10.0`
`webpack-dev-middleware@2.0.4`
`webpack-hot-mid

[2018-02-13 12:49] jorgeitenjr commented on #110
My bad, forgot to add `publicPath: '/',`on server webpack config.

[2018-02-13 12:50] #110 closed

[2018-03-03 03:23] #108 closed

[2018-03-03 03:23] michael-ciniawsky commented on #107
Did your resolve this ? What's the status here ? :)

[2018-03-03 07:49] MrHanzwii opened #115 "url-loader css url([Object Objec])"
my config is
[code]

"file-loader": "^1.1.11"
"url-loader": "^1.0.0"

[2018-03-03 07:55] michael-ciniawsky commented on #115
Fix coming in a few minutes... :)

[2018-03-03 08:09] #115 closed

[2018-03-03 08:16] michael-ciniawsky commented on #115
Released in [`v1.0.1`](https://github.com/webpack-contrib/url-loader/releases/tag/v1.0.1) 🎉

[2018-03-03 15:03] evilebottnawi commented on #107
@michael-ciniawsky resolve this in near future :+1:

[2018-03-03 22:40] milushov commented on #108
@evilebottnawi  @michael-ciniawsky
Hey, guys, I have the same problem

Is it possible to pass `options` to the `fallback` loader? For example to the `file-loader` in case if I want to set `name` option.

This code not working:

[code]
I've seen code [here](https://github.com/webpack-contrib/url-loader/blob/08135bcee2b187124016f9edbbe6f0f35ce2cb54/src/index.js#L42), should we update logic of the `u

[2018-03-04 21:51] Sparki2002 opened #118 "fallback loader options"
Make it possible to add options to the fallback loader

e.g.
[code]

[2018-03-05 09:24] evilebottnawi commented on #118
@Sparki2002 PR welcome :+1:

[2018-03-11 14:57] fengcen commented on #118
I want this feature too.

[2018-03-12 07:36] TimHolzherr commented on #118
This feature would be really nice.
Does anybody know a workaround? E.g. somehow wrapping file-loader with predefined options or something similar?

[2018-03-12 13:47] fengcen commented on #118
@Sparki2002 I found that you can set any fallback options like this:
[code]

[2018-03-13 02:13] TimHolzherr commented on #118
Works great, thanks @fengcen!

@evilebottnawi: I think adding this to the readme would be helpful for future users.

[2018-03-24 17:03] samuraime opened #120 "upgrade dependency package?"
`file-loader` has fixed some bugs. [https://github.com/webpack-contrib/file-loader/pull/246](url) etc.
it's time to upgrade dependenies.

[2018-03-24 17:11] evilebottnawi commented on #120
@samuraime just clean own npm/yarn cache and run npm/yarn install again

[2018-03-24 20:53] #120 closed

[2018-03-27 17:38] light24bulbs opened #121 "What are the units on limit?"
Shouldn't your documentation explain what the unit is for limit.  KB? Characters?

[2018-03-27 17:38] #121 closed

[2018-03-27 17:41] montogeek commented on #121
`Byte limit to inline files as Data URL` from the readme

[2018-03-27 17:42] light24bulbs commented on #121
Yeah, I'm an idiot.  That's why I closed it

[2018-03-28 14:41] gustavovnicius opened #122 "Webpack 4: incorrect peer dependency"
When using `url-loader` with webpack 4 it gives this warning:

`warning "url-loader > schema-utils@0.4.3" has incorrect peer dependency "webpack@^2.0.0 || ^3.0.0".`

It's similar to this one: https://github.com/webpack-contrib/style-loader/issues/307

[2018-03-28 15:01] evilebottnawi commented on #122
@gustavovnicius `npm/yarn cache clear && npm install`, also check you lock files.

[2018-03-28 15:01] #122 closed

[2018-03-29 17:08] queses commented on #118
I believe, that also it would be good to have feature to chain fallback loaders.
Usage example:

- I want my small pictures to be loaded as url-string
- I want my bigger pictures to be optimized

So I need this code:
[code]

[2018-04-06 11:17] asfernandes commented on #122
url-loader 1.0.1 is using schema-utils 0.4.3 which has the dependency "webpack@^2.0.0 || ^3.0.0". Even cleaning the cache the problem is happening.

Shouldn't you update to schema-utils 0.4.5?

[2018-04-08 03:40] vipcxj commented on #108
Is this issue solved? Why did it be closed?

[2018-04-08 03:50] milushov commented on #108
¯\_(ツ)_/¯

[2018-04-20 02:14] komali2 opened #125 "Documentation Clarification: Do all file-loader options apply?"
I've noticed that, for example, the `name` option seems to be valid, but it's not noted in the url-loader documentation. I guess it's covered under the line `The url-loader works like the file-loader,` but would it be worth having at least the options documentation included here as well? Rather than just the differences?

[2018-04-20 09:56] evilebottnawi commented on #125
@komali2 PR welcome

[2018-04-20 19:25] komali2 commented on #125
I'm happy to do a PR, but can you please help me confirm that indeed, all `file-loader` options are valid in `url-loader`? It looks to me like yes but I am not the smartest man ;)

[2018-04-21 13:15] evilebottnawi commented on #125
/cc @d3viant0ne

[2018-05-04 10:08] Pimm commented on #125
Great question @komali2!

`url-loader` currently (`1.0.1`) works like this:

If there is no `limit` option specified, the file is encoded into a data URI.

If a `limit` option is specified but the size of the file is smaller than the limit, the file is encoded into a data URI as well.

Otherwise, `url-loader` uses a fallback loader to do the actual work. If no `fallback` option is specified, `file

[2018-05-05 20:08] #107 closed

[2018-05-06 12:32] evilebottnawi commented on #118
@queses no, please read how works loaders

[2018-05-06 12:33] evilebottnawi commented on #118
@fengcen @TimHolzherr yep, feel free to send PR

[2018-05-14 17:10] #118 closed

[2018-05-26 04:45] nypinstripes commented on #122
@gustavovnicius please update schema-utils dep to 0.4.5 which has the webpack 4 dependency fix for:

```warning "url-loader > schema-utils@0.4.3" has incorrect peer dependency "webpack@^2.0.0 || ^3.0.0".```

[code]

![screen shot 2018-05-26 at 12 41 58 am](https://user-images.githubusercontent.com/1851296/40572594-142aa2ec-607e-11e8-9fff-9552c638618f.png)

https://yarnpkg.com/en/package/schema-uti

[2018-05-26 04:54] nypinstripes commented on #122
@evilebottnawi @michael-ciniawsky maybe this could be re-opened. thanks.

[2018-05-28 11:18] evilebottnawi commented on #122
@nypinstripes all already updates, just update you deps and lock file

[2018-06-02 06:20] hipstermojo opened #127 "Dependency vulnerability"
The mime dependency has a RegEx Denial of Service vulnerability when I run `npm audit` and I was wondering if you guys had any plans of changing this.

[2018-06-02 09:17] yiqianglin opened #128 "regExp options not supported？"
regExp not suported？[1] match nothing and it becames a string
![image](https://user-images.githubusercontent.com/15794229/40872870-8f5f687a-6688-11e8-8da8-4f58ad025cc8.png)
result：
![image](https://user-images.githubusercontent.com/15794229/40872878-bc6f4ef2-6688-11e8-83b5-797b1d53451c.png)

[2018-06-02 22:52] Pimm commented on #127
`url-loader` 1.0.1 depends on `mime` ^2.0.3, which shouldn't be vulnerable according to broofa/node-mime#167. Are you on 1.0.1?

[2018-06-03 11:29] Pimm commented on #128
你好 @yiqianglin!

In your example, your (implicit) fallback is `file-loader`, and your `name` and `regExp` will be passed to `file-loader`. So yes: it should work.

Keep in mind that `file-loader` only replaces your `[1]` if the regular expression matches. Are you sure your regular expression matches? Could you show us your require or import lines?

[2018-06-04 09:34] evilebottnawi commented on #128
@yiqianglin please provide minimum reproducible test repo

[2018-06-04 09:35] evilebottnawi commented on #127
@hipstermojo please update you `url-loader` to latest versin

[2018-06-04 09:35] #127 closed

[2018-07-08 14:57] dmngu9 opened #131 "How to use url loader properly?"
Hi, I seem not to work out how to include image url in React.

This is my webpack config
[code]

And i use `import image from './image.png'` in react code. However, there is no url there.

Looking into my bundle.js, it includes the image in it. Can someone show me how to set it up properly please?

[2018-07-09 09:35] evilebottnawi commented on #131
Depends on your needs. Please use `gitter` or `stackoverflow` for question. Basic configuration you can find here https://github.com/webpack-contrib/url-loader#getting-started

[2018-07-09 09:35] #131 closed

[2018-07-09 13:24] gustavovnicius opened #132 "Publish latest version to npm"
It seems to me that `schema-utils` dep was updated a little while ago, although it wasn't published on npm. I'm getting some annoying warnings after upgrading to webpack 4. What's the plan? Can't a new version be published after #129?

[2018-07-09 13:53] evilebottnawi commented on #132
@gustavovnicius what warnings you got?

[2018-08-06 07:51] bAdOoWindy opened #134 "Can't auto install file-loader"
webpack-dev-server returned
Error: Cannot find module 'file-loader'

[2018-08-07 08:59] evilebottnawi commented on #134
@bAdOoWindy add `file-loader` to you `package.json`

[2018-08-07 08:59] #134 closed

[2018-08-10 22:03] PallasKatze commented on #132
Same here:

[2018-08-13 12:39] #132 closed

[2018-08-14 13:54] gustavovnicius commented on #132
BTW @evilebottnawi it's still not published on `npm` (it is the original issue).
<img width="483" alt="screen shot 2018-08-14 at 15 53 39" src="https://user-images.githubusercontent.com/2379486/44095927-48a01dc2-9fda-11e8-8b79-3d98498b26dd.png">

The `schema-utils` dep was updated before, the `package.json` version upped, but no publishing.

[2018-08-14 14:31] evilebottnawi commented on #132
@gustavovnicius problem with npm/network, i will try again in near time

[2018-08-14 20:50] damianobarbati commented on #118
Hey @evilebottnawi watch out: I don't see the default fallback=file-loader to be respected, just lost 1 hour on this to find out I had to explicitly set it like this:

[code]

[2018-08-14 20:58] evilebottnawi commented on #118
@damianobarbati can you create new issue with minimum reproducible test repo?

[2018-08-15 02:31] lincenying opened #138 "v1.1.0 options.name is failure"
This is my configuration file

[code]

This is the generated file

![image](https://user-images.githubusercontent.com/10840991/44128507-f3850806-a075-11e8-8f0b-7ead4475bef4.png)

v1.0.1 is ok

![image](https://user-images.githubusercontent.com/10840991/44128559-39fd7d04-a076-11e8-9b46-63ad13abf04f.png)

[2018-08-15 03:54] insin commented on #138
Confirming the same issue, looks like `name` isn't getting passed along to the fallback.

![conemu64_2018-08-15_13-40-59](https://user-images.githubusercontent.com/226692/44130827-bde1ba1a-a092-11e8-9f95-9b4a02540e02.png)

[2018-08-15 04:26] insin commented on #138
I think it's because v1.0.1 used to do this, so `file-loader` would pick up all the given options:

[code]

Here's a failing test for `fallback.test.js` showing failure to pass on the `name` option:

[code]

For this not to be a breaking release, would it need to support passing along all the [options` file-loader` can take](https://github.com/webpack-contrib/file-loader#options), or do what it us

[2018-08-15 12:16] hxlniada commented on #138
this is a big bug

[2018-08-15 12:51] #138 closed

[2018-08-15 19:02] andrioli opened #142 "Incorrect peer dependency warning"
I upgraded from `1.0.1` to `1.1.0` and the following warn message pop up during `yarn install` command.

[code]

I'm using Webpack 3. The plugin isn't intent to work safely with Wabpack 3 anymore? If it should work fine why not update the peer dependencies to include webpack 3 as well?

[2018-08-15 19:11] michael-ciniawsky commented on #142
Feel free to send a PR relaxing/removing the `peerDependency`, the loader should work perfectly with webpack =< v3.0.0` :)

[2018-08-15 20:10] evilebottnawi commented on #142
@michael-ciniawsky we support only `webpack@4` because in some cases loader(s) can doesn't work with `webpack@3`, also `webpack@3` deplrecated. Don't accept PR with backward compatobility with `webpack@3`.

@andrioli https://github.com/webpack-contrib/url-loader#requirements Please upgrade you webpack version or use old `url-loader` version. Thanks!

[2018-08-15 20:10] #142 closed

[2018-08-15 20:36] andrioli commented on #142
I was about to create a PR. But I preferred to ask if its okay to use Webpack 3 before

Working perfectly, no problems found so far

😩 That's Okay!

I didn't notice this message in the beginning of the page.  Sorry about the noise.

I know Webpack 3 is deprecated. But we are nor planning major updates right now, so I will downgrade `url-loader`.

Thanks for the fast support!

[2018-08-15 20:49] michael-ciniawsky commented on #142
@evilebottnawi It was introduced by https://github.com/webpack-contrib/url-loader/commit/9946374885ec01578ad692a386c82e08b3a9c1e7 in released as a minor and I think it should be 'reverted', there is no need to be strict here since no breaking changes to the Loader API where introduced between `webpack v3.0.0...4.0.0` that affected  the `url-loader` directly

@andrioli Sry 😞

[2018-08-16 09:50] Yusoo opened #143 "default fallback options"
url-loader v1.1.0

it work
[code]

no fallback, it not work
[code]

[2018-08-16 10:32] michael-ciniawsky commented on #143
It is a bug, fixed by #139 and will be released soon :)

[2018-08-16 10:32] #143 closed

[2018-08-16 10:40] michael-ciniawsky opened #144 "Need for `utils/normalizeFallback`"
I think `utils/normalizeFallback` is not needed and we should revert the logic in `src/index.js` back to just `fallback.call(this, src)` since we need to pass all options anyways as it seems e.g

**`webpack.config.js`**
[code]

should be sufficient

Since https://github.com/webpack-contrib/url-loader/pull/139 all options are again passed to the fallback loader (default && custom), so in case I don

[2018-08-16 11:06] evilebottnawi commented on #144
WIP on this

[2018-08-16 12:34] Pimm commented on #144
It supports the behaviour proposed/requested in #108 #118.

Essentially, it allows your example to be written in a way which feels more consistent and hygienic to me:
[code]

As a bonus, it supports the unlikely edge case in which option names would otherwise collide:
[code]

[2018-08-16 12:39] michael-ciniawsky commented on #144
I see, but then we need to remove the default fallback handling from it and apply it only for a custom fallback since this causes issue with current workflows in conjunction with the `file-loader`. #139 ould need to be 'reverted' asell then sinc passing all options is not the goal of `utils/normalizeFallback` ?

[2018-08-16 12:50] Pimm commented on #144
Do you have an example of an issue which is still reproducible after #139?

[2018-08-16 12:51] evilebottnawi commented on #144
Please wait i will send PR in near time

[2018-08-16 13:16] michael-ciniawsky commented on #144
? :) Nope it fixed the current issues, but I as under the impression that passing **all** options was not the original intend here (only pass `options.fallback.options`) ? Or is it mainly about being able to pass an `{Object}` to `options.fallback` `fallback: { loader: 'x-loader', options: {} }`. In this case  #139 should be sufficient and it's resolved already (pending release) ?

But let's wait

[2018-08-16 23:59] JoseGoncalves opened #146 "Issue with default fallback options"
The following working config in 1.0.1:
[code]
does not work with version 1.1.0, i.e., the 'name' option is not passed to the default fallback 'file-loader'.
Is this on purpose or is it a bug?

[2018-08-17 00:49] michael-ciniawsky commented on #146
It is a known bug please pin your version to `< v1.1.0` for now :). It's already fixed on `master` but pending a release

[2018-08-17 09:51] #144 closed

[2018-08-17 09:51] #146 closed

[2018-08-30 20:30] FranckFreiburger opened #147 "webpack 3 compatibility"
Is url-loader@1.1.1 really not compatible any more with webpack 3 ? (like suggested in the package file
https://github.com/webpack-contrib/url-loader/blob/v1.1.1/package.json#L42) ?

[2018-08-30 20:58] michael-ciniawsky commented on #147
It is compatible, the `peerDependency` is just wrong/unneeded. In my opinion it should simply be relaxed, but there doesn't seem to be consensus to make this change (see https://github.com/webpack-contrib/url-loader/issues/142)

[2018-08-30 20:58] michael-ciniawsky commented on #147
Just ignore the warning

[2018-08-30 20:59] FranckFreiburger commented on #147
ok thanks !

[2018-08-31 09:46] evilebottnawi commented on #147
@michael-ciniawsky can we close issue?

[2018-09-06 10:09] lynnic26 opened #148 "Error when file size over limit configuration"
# current version
"webpack": "4.17.1",
"file-loader": "^2.0.0",
 "url-loader": "^1.1.1",
# config
[code]
# result
[code]

when the file is bigger than limit configuration,  the error occurs
================update
I have know how to fix this
[code]
or
[code]

[2018-09-06 10:10] evilebottnawi commented on #148
@lynnic26 please create minimum reproducible test repo

[2018-09-06 11:43] #148 closed

[2018-09-12 09:16] kyleoliveiro opened #149 "Specifying `engines` in package.json should be a major update"
In `v1.1.0`, `engines` was added to package.json, while it was absent in prior versions.

I'm running Node version `v8.5.0` on my CI server, and my pipeline is breaking now because of this change. Unfortunately I can't simply lock the version `url-loader@1.0.1` in my package.json, as multiple important packages I'm using have `url-loader@^1.0.1` as a dependency.

[2018-09-12 16:13] #147 closed

[2018-09-12 16:36] evilebottnawi commented on #149
@michael-ciniawsky what the hell you doing?

[2018-09-12 16:38] #149 closed

[2018-09-12 19:05] kyleoliveiro commented on #149
Thanks for the advice. I'm working with the maintainer of the Docker image I'm using in my CI pipeline to bump the Node version to latest LTS.

[2018-10-08 22:11] lukebatchelor opened #154 "Please reconsider the strict engine versions"
Hi there,

I noticed in the latest release you added the stricter engines checks (disallowing non-lts versions of node). I've followed the discussions (#149 , #151 , #152) but I disagree with the actions taken.

Adding stricter engine checks in a minor release breaks semantic versioning, regardless of anything else, it's now causing peoples builds to fail. If you need to make it stricter please ma

[2018-10-10 11:07] #154 closed

[2018-10-17 06:58] xchunzhao opened #157 "Load image resource in SVG image xlink:href failed"
[code]
The above  is my `url-loader` config. Every image url is resolved successfully except the image resource `xlink:href` in SVG, before build like this:
[code]

Expect After build
[code]

[2018-10-17 08:43] evilebottnawi commented on #157
@xchunzhao please create minimum reproducible test repo

[2018-10-17 18:25] JGProg opened #158 "Cannot read property 'context' of undefined"
Hi everyone !

I have a problem when I would like to export with Webpack !
I have a multiple error :/

[code]

I don't understand why...
See my package.json I try to add option but no change..

var path = require('path');
var HtmlWebpackPlugin = require('html-webpack-plugin');
const webpack = require('webpack');

module.exports = {
    entry: './src/index.jsx',
    output: {
        path: path.res

[2018-10-17 18:35] JGProg commented on #158
Ok sorry !

Explain my issue so !
When I run this command :
`webpack --progress --config webpack.config.js --display-error-details`

I have multiple issue due to
`RROR in ./node_modules/mdbreact/dist/font/roboto/Roboto-Medium.woff2 1:4
Module parse failed: Unexpected character '' (1:4)
You may need an appropriate loader to handle this file type.
(Source code omitted for this binary file)`

I chang

[2018-10-17 18:43] evilebottnawi commented on #158
@JGProg looks you have invalid configuration

No loader for `woff2`

[2018-10-17 18:44] JGProg commented on #158
How to load this ?

[2018-10-17 18:50] evilebottnawi commented on #158
@JGProg add loader for `woff2`, **please** create minimum reproducible test repo on github, i can't help you using config from `issue` - it is **hard** to read and analyze what is wrong

[2018-10-17 18:54] JGProg commented on #158
Do you have a bitbucket cloud account ?

My repo it's on this website.

[2018-10-17 18:57] evilebottnawi commented on #158
@JGProg no, i don't have `bitbucket` account

[2018-10-17 18:59] JGProg commented on #158
Ok I transfert my depot on Github. Just a moment please, sorry..

Anyway, thank you.

Transfert ok ! My depot it's here : https://github.com/JGProg/testP

[2018-10-17 19:08] evilebottnawi commented on #158
@JGProg you repo doesn't work, also please create **minimum** repo, no need copy/paste `CRA`, also you should include `file-loader/url-loader` in your `package.json`

[2018-10-17 19:12] JGProg commented on #158
Sorry I'm not yet very comfortable with webpack..

I try it to reduce my project..

[2018-10-18 06:29] xchunzhao commented on #157
My fault. I mistake the use of `url-loader` and `html-loader`.  Just add `html-loader` options can solve it:
[code]

[2018-10-18 06:29] #157 closed

[2018-10-19 10:56] flopsySong opened #159 "The dataURL of encoded image cant be resolved (decoded) by base64 decoder"
version 1.1.2
![image](https://user-images.githubusercontent.com/12528156/47214491-ac2ba580-d3d0-11e8-9131-02da159960aa.png)

[2018-10-19 11:04] evilebottnawi commented on #159
@flopsySong please describe your problem (error output, full config, minimum reproducible test repo)

[2018-10-19 11:04] #159 closed

[2018-10-19 11:04] evilebottnawi commented on #158
@JGProg friendly ping

[2018-10-19 11:16] flopsySong commented on #159
`const merge = require('webpack-merge')
const webpack = require('webpack')
const path = require('path')
const HtmlWebpackPlugin = require('html-webpack-plugin')
const CleanWebpackPlugin = require('clean-webpack-plugin')

module.exports = merge(
  {},
  {
    mode: 'development',
    entry: {
      main: './src/app.js'
    },
    output: {
      path: path.resolve(__dirname, '../dist'),
      publi

[2018-10-19 11:28] evilebottnawi commented on #159
@flopsySong there are a lot of problems why image doesn't show, you need provide more information

[2018-10-19 14:32] ivoTsolov opened #160 "missing images when updating the size limmit"
when i run my project with some options { limit : 2000 }  for example  and i later change the file limits on 4000 for example and then  build and start my app seems like i am missing pictures, also my manifest file is smaller  anyone has similar experience like mine ? and  if so how do i prevent that from happening, my col

[2018-10-19 14:52] evilebottnawi commented on #160
@ivoTsolov I can't understand you

[2018-10-22 07:52] decadef20 commented on #158
Same error here. I fixed it by upgrading file-loader

[2018-10-24 17:42] conradoramalho commented on #158
Same error here. Any solution?

[2018-10-24 18:04] evilebottnawi commented on #158
@conradoramalho Please create minimum reproducible test repo

[2018-10-24 23:03] trusktr commented on #160
Me too. I set `limit: Number.MAX_VALUE`, and when I import images, the import is always `undefined`.

Any ideas why the import is undefined?

[2018-10-24 23:06] trusktr opened #161 "Importing an image is `undefined`"
When I import an image, the import value is `undefined`. This is my config:

[code]

I'm importing like this:

[code]

Any idea why when I import a png file, the import value is `undefined`?

The path is correct. If I change to `file-loader`, then I get a hash like `asdfkhaoienufa984fh9wevnq2of.png` as the import value.

[2018-10-25 00:12] conradoramalho commented on #158
I added file-loader and this solved my problem.

[2018-10-25 08:37] liliuchen opened #162 "Module build failed: Error: File Loader"
version:1.1.2
Module build failed: Error: File Loader

emitFile is required from module system
    at Object.loader (xxx\web\node_modules\file-loader\dist\index.js:31:29)
    at Object.loader (xxx\web\node_modules\url-loader\dist\index.js:76:19)
 @ ./~/css-loader!./statics/css/site.css 7:301-344

[2018-10-25 10:12] evilebottnawi commented on #162
@liliuchen can you create minimum reproducible test repo?

[2018-10-25 13:53] evilebottnawi commented on #160
Close in favor https://github.com/webpack-contrib/url-loader/issues/161 due issue have example and good describe.

[2018-10-25 13:53] #160 closed

[2018-10-25 14:22] evilebottnawi commented on #161
@trusktr can't reproduce please create minimum reproducible test repo, thanks!

[2018-10-28 20:51] andela-ooladayo commented on #162
@liliuchen I experienced the same issue. I had to rollback to version 1.0.1 before it worked with my file-loader.

Module build failed: Error: emitFile is required from module system
    at Object.module.exports (/usr/src/metrics-frontend/node_modules/file-loader/index.js:9:27)
    at Object.loader (/usr/src/metrics-frontend/node_modules/url-loader/dist/index.js:76:19)
 @ ./~/css-loader?sourceMap!

[2018-10-29 09:29] evilebottnawi commented on #162
@andela-ooladayo Please create minimum reproducible test repo

[2018-10-29 15:52] chrisckc opened #164 "publicPath not handled correctly?"
Referring to my comment here:
https://github.com/webpack-contrib/file-loader/issues/286

The issue also occurs with url-loader and requires options.publicPath to be set to the same path that is specified in the webpack publicPath property.

The issue is related to the handling of trailing slash in publicPath, caused by the lack of one.

[2018-10-29 15:59] evilebottnawi commented on #164
Please create minimum reproducible test repo and describe what you have and what you expected

[2018-10-29 16:29] chrisckc commented on #164
No problem, ill update one of my demo repo's to reproduce the issue.

[2018-10-30 09:21] evilebottnawi commented on #164
@chrisckc thanks, wait

[2018-10-30 15:58] chrisckc commented on #164
Here is a repo is have updated with a new branch:
https://github.com/chrisckc/aurelia-cli-skeleton-typescript-webpack/tree/webpack-publicPath-example

checkout the 'webpack-publicPath-example' branch and run it using:
`npm start -- webpack.server.extractCss`

visit "http://localhost:8080/app"

In the Chrome inspector > sources, find /app/vendor.font-awesome.xxxxxx.chunk.css
notice 'src: url...' en

[2018-10-30 16:06] evilebottnawi commented on #164
@chrisckc looks problem related to `file-loader`, `url-loader` just return `base64`

[2018-10-30 16:45] chrisckc commented on #164
are you referring to this line?
`{ test: /\.(png|gif|jpg|cur)$/i, loader: 'url-loader', options: { limit: 8192 } },`

I deliberately included and image that was bigger than 8k (pnggradHDrgba.png) to demonstrate the issue.

Notice that the png file name has 'app' prepended to the filename without the path separator and appears outside fo the app dir when looking at the sources in the chrome inspect

[2018-10-30 17:05] evilebottnawi commented on #164
@chrisckc I can't understand you problem, you miss option and get unexpected result, where is bug?

[2018-10-30 17:57] evilebottnawi commented on #164
@chrisckc let's close issue here

[2018-10-30 17:57] #164 closed

[2018-11-07 04:12] trusktr commented on #161
Will reproduce when I run into it again.

[2018-11-07 06:38] evilebottnawi commented on #161
@trusktr please create minimum reproducible test repo

[2018-11-25 13:05] rico345100 commented on #161
Same issue here

[2018-11-26 10:09] evilebottnawi commented on #161
@rico345100 please create minimum reproducible test repo

[2018-12-03 05:19] Taoja opened #165 "How to output a image file in page folder?"
my project will output multiple pages in their respective directories.

but some image file will output at root folder when size higher then limit.

how can i config rules to put them into pages directories who used the image?

[2018-12-03 10:12] evilebottnawi commented on #165
@Taoja use `outputPath` and `publicPath`, documentation in `file-loader`

[2018-12-03 10:12] #165 closed

[2018-12-19 11:56] byzyk commented on #161
Not sure if it's the case for you but I bumped into similar issue and since I'm using TypeScript I had to import images as:

`import * as image from './image.svg';`

@evilebottnawi do you think we should add a note about this in docs?

[2018-12-19 12:02] evilebottnawi commented on #161
@byzyk maybe, or maybe we should use `export` and `import` in loader to avoid problem

[2018-12-19 12:03] evilebottnawi commented on #161
Also we think about union `url-loader` and `file-loader` (new option base64) to avoid duplicate loaders in same logic

[2018-12-20 07:54] xiaotiandada commented on #118
good

[2018-12-20 14:40] evilebottnawi commented on #128
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks! Information how use https://github.com/webpack-contrib/file-loader#regexp

[2018-12-20 14:40] #128 closed

[2018-12-20 14:41] evilebottnawi commented on #158
As i said above loader not found for `woff2`

[2018-12-20 14:41] #158 closed

[2018-12-20 14:43] evilebottnawi commented on #161
We need implement `export default` for `file-loader` to avoid this problem, will be done for `webpack@5`, now we can't change this because it can break many builds, sorry

[2018-12-20 14:43] #161 closed

[2018-12-20 14:44] evilebottnawi commented on #162
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-12-20 14:44] #162 closed

[2018-12-20 17:06] Aghassi opened #167 "File-Loader 3.0.0 incompatible with this package"
https://github.com/webpack-contrib/url-loader/blob/16bc97c17dd20728066dba1b57d3755cf592697d/package.json#L67

With regard to https://github.com/webpack-contrib/url-loader/pull/156, the latest version of `file-loader` is not backwards compatible with this package. I know it is specified as a dependency for `1.x.x` and above. I've been using 2.0.0 just fine as a peer dependency. However, the latest

[2018-12-20 17:08] evilebottnawi commented on #167
@Aghassi bug in `file-loader` and already fixed in master

[2018-12-20 17:08] #167 closed

[2018-12-20 17:08] evilebottnawi commented on #167
Release will be in near future

[2018-12-20 17:10] bukharov opened #168 "Compatibility with file-loader 3.0.0"
Version `1.1.2` when used with `file-loader` version `3.0.0` causes the following failure:

I believe that's because `url-loader` passes down its own options to `file-loader`. In my case removing `limit: 8192` from `options` fixed the issue.

[2018-12-20 17:11] evilebottnawi commented on #168
Already fixed in master and release will be near future

[2018-12-20 17:11] #168 closed

[2019-01-04 03:34] liamcharmer opened #170 "Mp3 Files URL-Loader still dont work"
* Operating System: Mac OS
* Node Version: ?
* NPM Version:?
* webpack Version:?
* url-loader Version:?

### Expected Behavior

For the webpack to build

### Actual Behavior

ERROR in ./assets/sounds/rain-bg.mp3 1:0
Module parse failed: Unexpected character '�' (1:0)
You may need an appropriate loader to handle this file type.

### Code

[code]

[code]

### How Do We Reproduce?
 config.module.rule

[2019-01-04 12:34] evilebottnawi commented on #170
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-01-04 12:34] #170 closed

[2019-01-17 14:29] UlpiusCode opened #171 "How to load SVG images?"
How I can load SVG images in html and background: url()?

Thanks a lot!

[2019-01-17 14:50] evilebottnawi commented on #171
Don't duplicate issue, answer in `file-loader`

[2019-01-17 14:50] #171 closed

[2019-02-06 10:36] moon-deer opened #173 "Incorrect peer dependency"
Hey guys. I've got this kind of warning just now.

* Operating System: macos mojave 10.14.2 (18C54)
* Node Version: v11.9.0
* NPM Version: 6.5.0
* webpack Version: 4.29.0
* url-loader Version: 1.1.2
* Yarn Version: 1.13.0

### Actual Behavior

### How Do We Reproduce?

In the package.json of this plugin we have:

[2019-02-06 10:39] evilebottnawi commented on #173
@moon-deer you need install webpack

[2019-02-06 10:39] #173 closed

[2019-02-06 11:57] moon-deer commented on #173
It'a actually installed and it's version mentioned in the description

[2019-02-06 12:04] evilebottnawi commented on #173
@moon-deer npm don't lie, if you don't install webpack npm says what you need install, double check, maybe you have global installed version

[2019-02-16 04:35] mAAdhaTTah opened #174 "Needs charset to render base64 as src"
* Operating System: OSX
* Node Version: 11.9
* NPM Version: 6.4.0
* webpack Version: 4
* url-loader Version: 1.1.2

### Expected Behavior

Display the base64-encoded image in the `src` attribute.

### Actual Behavior

Image doesn't display properly in Chrome.  Adding this makes the image display properly: `src={logo.replace('base64,', 'charset=utf-8;base64,')}`. It needs the charset bit to work.

[2019-02-18 09:52] evilebottnawi commented on #174
Image is binary, no need set charset please create minimum reproducible test repo

[2019-02-19 15:25] mAAdhaTTah commented on #174
Hmmm, dunno what happened there tbh, coulda been a caching issue on my end, but I can't reproduce anymore. Sorry!

[2019-02-19 15:25] #174 closed

[2019-02-27 04:17] Titans1001 opened #175 "about url-loader limit config"
The value of limit in the configuration cannot be set to 0 or anything that appears to be false will go as default，so when we don't need base64 encoding, we usually set the limit value to 0 and it won't work，We can only set the limit to a number if it is true。Can you change the source code so that 0 is also a value that can be set to work。
### Code
  code:
     {
        test: /\.(png|jpe?g|gif|sv

[2019-03-04 08:26] evilebottnawi commented on #175
Please use issue template in future, yes we can do it, feel free to send a PR

[2019-04-01 09:38] Jeff-Tian opened #176 "svg in fixture not tested"
svg in the fixtures not tested at all. In other words, the `file.svg` is not used by any other code.

[2019-04-01 12:28] SetTrend opened #178 "Animated GIF not created"
### Synopsis

`url-loader` doesn't create valid animated GIF.

### System Data

* Operating System: Windows 10x64
* Node Version: v10.15.3
* NPM Version: 6.4.1
* webpack Version: 4.29.6
* url-loader Version: 1.1.2

### Expected Behavior

The following animated GIF should be rendered by the browser using a `data:` URL created by `url-loader`:

![InlineThrobber](https://user-images.githubusercontent

[2019-04-01 13:21] evilebottnawi commented on #178
We don't modify content, maybe something wrong in your configuration, can you create minimum reproducable test repo

[2019-04-01 15:02] SetTrend commented on #178
I'm not sure...

`file-loader` exhibits the same issue. Using `file-loader`, webpack copies the graphics file to the `dist` folder and scrambles the destination file, too.

I guess it must have to do with how `webpack` copies files to the `dist` folder.

[2019-04-01 15:58] SetTrend commented on #178
Further investigation showed, that when using a `PNG` file, `file-loader` creates the correct PNG file (which it doesn't with the generated animated GIF), whereas `webpack-dev-server` and `url-loader` still yield a defective `data:` URL:

[code]
... resulting in:
[code]

[2019-04-01 16:01] SetTrend commented on #178
As mentioned in my first post, the image URLs are taken from a SASS file.

Probably the `sass-loader` > `css-loader` > `style-loader` chain is causing the faulty result.

[2019-04-01 22:59] SetTrend commented on #178
Hi @evilebottnawi :

I'm not sure which of the number of loaders involved causes this issue, or if it's even webpack itself. You closed my other thread. Do you believe this repository is the right place to get this issue solved? Or which repository would you suggest to file this issue?

Do you still want me to create a repository or can you reproduce this issue with the information given?

[2019-04-02 09:07] SetTrend commented on #178
After having had one night of sleep and doing some more testing I can now confirm that the issue boils down to any of the webpack loaders inserting the JavaScript statement `module.exports = __webpack_public_path__ + "images/InlineThrobber.gif";` instead of the resolved expression `/dist/images/InlineThrobber.gif` into the CSS style rules:

![image](https://user-images.githubusercontent.com/928391

[2019-04-02 15:29] SetTrend commented on #178
OK, after some more research, here's the part in webpack.config.js that's causing the trouble (I altered the paths to ease the supposed intention):

[code]

The web components' images are supposed to be embedded in the minified chunks, so these chunks can be deployed to other clients. That's what the first rule is about.

The second rule defines the rules for a first client utilizing the above men

[2019-04-03 10:43] evilebottnawi commented on #178
Please don't spam here, minimum reproducible test repo is enough, it is open source, not your personal help

[2019-04-03 12:59] SetTrend commented on #178
@evilebottnawi: I'm not spamming. I'm trying to give enough information for contributors to fix this issue. Nothing more.

[2019-04-03 13:23] evilebottnawi commented on #178
@SetTrend we are not doing anything supernatural here, just convert buffer to `data:`, can you create minimum reproducible test repo?

[2019-04-03 14:01] SetTrend commented on #178
Thanks, @evilebottnawi 👍

Sure. I'll be glad to. Please allow me a day to set this up. I'll do this after hours.

[2019-04-04 09:07] evilebottnawi commented on #176
Fixed https://github.com/webpack-contrib/url-loader/pull/177

[2019-04-04 09:07] #176 closed

[2019-04-04 20:41] SetTrend commented on #178
@evilebottnawi:

Here's there repository you requested:

[/SetTrend/webpack-issue](https://github.com/SetTrend/webpack-issue)

[2019-04-09 22:45] evilebottnawi commented on #178
Here problem in configuration:
1. Both loader were used - `url-loader` and `file-loader` due invalid configuration so image was broken (you can comment `file-loader` and see all works fine). Problem in `issuer.include` configuration (broken regexp) because using:
[code]
and
[code]

fix problem with broken images for `url-loader`.

2. Second problem in `publicPath` option, you need setup:
[code]

[2019-04-09 22:45] #178 closed

[2019-04-09 23:28] SetTrend commented on #178
@evilebottnawi :

In your solution you're giving a fixed string as a regex. That's not something we can use.

Why do you believe there is an issue with these regular expressions:

[code]

They are both valid and distinctive. I don't believe they are the reason for this issue to break,

Strange enough, the image file got copied to the correct directory when I used:

[code]

instead of

[code]

Thou

[2019-04-10 10:14] evilebottnawi commented on #178
Try to avoid `src`, you can debug webpack and see what is issuer in this place.

I already open issue in `webpack-dev-server`

[2019-05-02 16:42] SetTrend commented on #178
@evilebottnawi 👍

I couldn't find a "build" script in the Webpack project and the `readme` doesn't get clear on how to build (and debug) Webpack. Can you help me and point to the right direction?

[2019-06-05 14:22] evilebottnawi commented on #175
Fixed https://github.com/webpack-contrib/url-loader/pull/180

[2019-06-05 14:22] #175 closed

[2019-06-16 19:24] blikblum opened #183 "Specifying options as a query string does not work anymore"
- Operating System: Windows
- Node Version: 8.11
- NPM Version:  5.6
- webpack Version: 4.34
- url-loader Version: 2.0

### Expected Behavior

Passing options as query strings should work:
[code]

### Actual Behavior

An error occurs while compiling:

### Code

[code]

### How Do We Reproduce?

Just use url-loader with a query string

[2019-06-25 11:23] #183 closed

[2019-07-11 03:42] sbigtree opened #186 "Regarding the conversion of files to data urls, a less than condition was found to be missing"
![image](https://user-images.githubusercontent.com/48344438/61020493-90d64f80-a3d0-11e9-919c-da3112ad3b1d.png)
`module: {
          rules: [
            {
              test: /\.(png|jpg|gif)$/,
              use: [
                {
                  loader: 'url-loader',
                  options: {
                    limit: 8192
                  }
                }
              ]

[2019-07-11 11:10] evilebottnawi commented on #186
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Sorry i can't reproduce

[2019-07-11 11:10] #186 closed

[2019-08-24 05:37] domino2 opened #188 "Corrupted or not proceed image matched multiple module rule simultaneously"
- Operating System: Mac Mojave 10.14.6
- Node Version: 10.14.0
- NPM Version: 6.11.2
- webpack Version: 4.39.2
- url-loader Version: 2.1.0

Also tested with Docker image lambci/lambda:build-nodejs10.x

### Expected Behavior

When having multiple module rules matching the image asset with different name location, the image will appear in the build folder under specific paths (name) multiple times.

[2019-08-24 12:10] evilebottnawi commented on #188
It si expected, you should not use loader twice on same assets, you can use `include`/`exclude` to filter them

[2019-08-24 12:10] #188 closed

[2019-08-24 21:14] domino2 commented on #188
Sorry, but I disagree.
I figured out that fact what you just said, but it took a time as the current behavior is clunky.

Based on the fact that in case of use the `url-loader` three times, one image is passed, second is ignored and last is just blank. So definitelly not consistent behaviour.

As a developer I'm expecting that if I'm using `url-loader` wrongly, the exception will appear in the con

[2019-09-04 08:58] emkayy commented on #43
I have the same issue in SCSS files. When the file size exceeds the limit, `module.exports = __webpack_public_path__ + "...";` gets base64 encoded as the file content!

Did you find any solution?

[2019-09-04 20:59] chibicode commented on #173
@evilebottnawi shouldn't `peerDependencies` be `^4.0` instead of `^4.0.0`? Any `4.x` version should work.

https://github.com/webpack-contrib/url-loader/blob/master/package.json#L37

[2019-09-07 10:09] pasBone opened #190 "How can i use name function with url-loader?"
- Operating System:
- Node Version:  v10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.28.4
- url-loader Version: 0.6.2

### Feature Proposal

### Feature Use Case

file-loader screenshot:
![image](https://user-images.githubusercontent.com/18027183/64473486-26584a80-d19a-11e9-9eba-5cdc2ba80f33.png)

url-loader screenshot:
name function not work.
![image](https://user-images.githubusercontent.com/

[2019-09-07 12:39] evilebottnawi commented on #190
Please use stackoverflow or gitter for questions, i don't know what is boilerplates you are use, open issue in your boilerplate

[2019-09-07 12:39] #190 closed

[2019-09-25 17:20] tamelbrun commented on #178
@SetTrend
You might be interested to learn that we had a very similar issue with `url-loader`, which I managed to trace to `webpack` automatically adding `url-loader` by default. This caused `url-loader` to be called twice for the same file, feeding the output of the first call to the second. Obviously, this did not result in a valid data URL for the image. I'm not sure if this is a bug or a "feat

[2019-10-03 15:04] threequartersjohn opened #191 "Limit option does not support 'Infinity' or 'Max Value'"
Hello,

I'm trying to use url-loader to juggle between files that should be translated and not, and using `Infinity` or `Number.MAX_VALUE` would be a nice way to implement a default limit.

- Operating System: macOS Mojave 10.14.5
- Node Version: 10.16.3
- NPM Version: 6.9.0
- webpack Version: 4.41.0
- url-loader Version: 2.1.0

### Expected Behavior

Using `Infinity` or `Number.MAX_VALUE` in `lim

[2019-10-03 15:17] evilebottnawi commented on #191
PR welcome

[2019-10-03 17:11] evilebottnawi commented on #191
Fixed in master, release in near future

[2019-10-03 17:11] #191 closed

[2019-10-22 15:43] HARVS1789UK opened #196 "Multiple references to the same asset in SASS/CSS `url()` breaks replacement process"
- Operating System: Windows 10
- Node Version: 10.16.3
- NPM Version: 6.9.0
- webpack Version: 4.41.2
- url-loader Version: 2.2.0

### Expected Behavior

- Multiple CSS classes reference the same `url-loader` managed asset, for example:
[code]
- On a build, both of these relative paths are replaced with the data URI representing `arrow-right.svg`

### Actual Behavior

- The first instance is corre

[2019-10-22 15:54] evilebottnawi commented on #196
Something wrong in your configuration, please create minimum reproducible test repo

[2019-11-05 02:31] felibq opened #197 "url-loader@1.1.1 requires a peer of webpack@^4.0.0 but webpack@2.7.0 was installed"
Hey there! If you need support, help, or advice then this is not the place to ask.
Please visit [StackOverflow](https://stackoverflow.com/questions/tagged/webpack)
or [the Webpack Gitter](https://gitter.im/webpack/webpack) instead.

[2019-11-05 02:35] felibq commented on #197
but I cant use webpack by 4.0.0, how to solve it.

[2019-11-05 10:43] evilebottnawi commented on #197
Use old version, anyway i strongly recommend update webpack to latest version

[2019-11-05 10:43] #197 closed

[2019-11-15 13:18] evilebottnawi commented on #196
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-11-15 13:18] #196 closed

[2019-11-15 14:03] bishoywagih commented on #65
i have the same issue that i have to eject my application to re-configure webpack, so any update?

[2019-11-15 14:09] evilebottnawi commented on #65
@bishoywagih react-create-app has option for limit

[2019-11-15 14:18] bishoywagih commented on #65
@evilebottnawi where can i find that option, sorry i'm new to react.

[2019-11-15 14:37] evilebottnawi commented on #65
https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/webpack.config.js#L50

[2019-11-26 07:36] fwh1990 commented on #168
At version 5.x, url-loader is using `esModules` however file-loader is using `esModule`. Is that a mistake or something else?

[2019-11-26 07:44] fwh1990 commented on #168
Here is the commit from file-loader [9eada2d06](https://github.com/webpack-contrib/file-loader/commit/31d6589b71b471f83908e80380dff9b9eada2d06)

[2019-11-26 09:27] evilebottnawi commented on #168
@fwh1990 i am working on new major release for url-loader, they will have `esModule` option

[2019-11-27 07:51] almstrand opened #199 "Allow expressing limit as a function"
- Operating System: MacOS 10.15
- Node Version: v10.17.0
- NPM Version: 6.11.3
- webpack Version: 4.41.2
- url-loader Version: 3.0.0

### Feature Proposal

There are scenarios where developers may want more control over which files are loaded as data URIs vs. stored/referenced as separate files. However, the current implementation applies a global limit that causes the same rule to be applied acro

[2019-11-27 10:28] evilebottnawi commented on #199
Thanks, it is unnecessary because you can use this syntax:
[code]

[2019-11-28 06:00] almstrand commented on #199
That's great to know, thanks!  That said I think there can be scenarios where that ☝️syntax can be quite verbose and tedious. For example, package [`next-images`](https://github.com/twopluszero/next-images) uses `url-loader` to enable loading images in Next.js projects, and configures `url-loader` with several parameters. If those parameters are passed using the syntax it could look like this:
[co

[2019-11-28 06:00] #199 closed

[2019-12-19 10:13] yenshih commented on #196
I've encountered the same issue. It's a bug of `extract-loader`. https://github.com/peerigon/extract-loader/issues/54

[2019-12-27 06:54] ganapativs opened #201 "`esModules: true` outputs `url([object Module])` instead of `url(base64String)` for inline local fonts?"
- Operating System: MacOS catalina
- Node Version: 12.14.0
- NPM Version: 6.13.4
- webpack Version: 4.41.2
- url-loader Version: 3.0.0

### Expected Behavior

Should convert inline local fonts to `base64` and output the bundle.

Eg:
[code]

### Actual Behavior

Generates buggy output code(Note `url([object Module])` here)!
`src: local('Poppins Regular'), local('Poppins-Regular'), url([object Modul

[2019-12-27 08:54] evilebottnawi commented on #201
Update css-loader to latest version

[2019-12-27 08:54] #201 closed

[2020-01-01 18:16] smondal opened #203 "Why url-loader stop supporting nodejs 8?, as webpack 5 still supporting nodejs 8 and higher?"
In the webpack 5 documentation its mention that  webpack still supporting nodejs 8 and higher, then why url-loader stop supporting nodejs 8. Is there any specific reason?
https://github.com/webpack-contrib/url-loader/blob/master/package.json#L16
https://webpack.js.org/concepts/

[2020-01-01 18:36] anikethsaha commented on #203
node v8 will be depreciated soon this year. maybe in Jan itself.
I am pretty sure webpack will drop the support as well.

[2020-01-01 18:41] smondal commented on #203
Thanks @anikethsaha

[2020-01-02 11:52] sokra commented on #203
We did. It's now >= 10

[2020-01-03 03:06] smondal commented on #203
So we need to change all the loader and plugin dependencies >=10

[2020-01-03 11:58] anikethsaha commented on #203
yes.... 10x is the current LTS. it should be changed 👍

[2020-01-03 13:34] evilebottnawi commented on #203
Thanks for issue, answer above

[2020-01-03 13:34] #203 closed

[2020-01-30 21:58] jaimegarza opened #205 "url-loader 3.0.0 creates an erroneous export"
In version 2.3.0 the generated code read:

[code]

In 3.0.0, there is a call like this:

[code]

The additional call to __webpack_require__.r adds elements to __webpack_exports__, so when the code in the html does:

[code]

Now that webpack require will return an object and you get "[object Module]" instead of the svg

webpack config:
[code]

[2020-01-30 21:59] jaimegarza commented on #205
html-loader is 0.5.5

[2020-01-31 10:41] evilebottnawi commented on #205
Yes, html-loader broken, I am working on him (release will be in near future), right now you can setup `esModule: false` for `url-loader`/`file-loader`

[2020-01-31 10:41] #205 closed

[2020-02-02 18:27] TylerJNewman commented on #173
I am having the same issue....

  "name": "webpack",
  "version": "4.41.2",

[2020-02-03 15:36] thomas-darling commented on #201
@evilebottnawi
This is still broken in the latest release - we're seeing it with `url-loader 3.0.0` and `css-loader 3.4.2`
Also, what exactly does `css-loader` have to do with this?

Please reopen and fix :-)

[2020-02-03 15:51] evilebottnawi commented on #201
No, it is not broken and tests, please update deps

[2020-02-03 15:52] evilebottnawi commented on #201
Here line https://github.com/webpack-contrib/css-loader/blob/master/src/runtime/getUrl.js#L8 for handling `export default`

[2020-02-03 15:53] ganapativs commented on #201
@thomas-darling I had to set `esModule: false` in `3.0.0` to make it work.

[code]

[2020-02-03 15:54] evilebottnawi commented on #201
I do not recommend disable that, because it is increase bundle size and tree shaking doesn't work

[2020-02-03 15:55] evilebottnawi commented on #201
Double check you version, refresh lock file

[2020-02-03 15:56] evilebottnawi commented on #201
Do not forget about you need update `file-loader` to latest version too

[2020-02-03 16:56] thomas-darling commented on #201
@evilebottnawi
`file-loader` is the latest too, at `5.0.2`, and I did double check versions, delete lock file and reinstall all dependencies. The only thing that works, is disabling the `esModule` option.

This bug is most definitely still alive 🐛

[2020-02-03 17:02] thomas-darling commented on #201
There you are linking to that `css-loader` again - but this bug is in `url-loader`

[2020-02-04 09:55] evilebottnawi commented on #201
@thomas-darling Where is bug? Please provide reproducible test repo

[2020-02-04 16:34] thomas-darling commented on #201
I don’t know where the bug is, but it is most definitely there, as already described above.

And sorry, I won’t waste time setting up a test repo to prove this - it’s an obvious regression.

[2020-02-04 16:40] evilebottnawi commented on #201
@thomas-darling

It sounds insulting, I spend my time to help you, but you don’t want to help me and claim a problem without even showing it. Obvious? No, it is not obvious because I can’t find out where it happens. What loaders you have? What plugins you have? What code you have? Maybe mistake in your code? Or maybe mistake in other dependencies. I don't known.

[2020-02-04 17:19] thomas-darling commented on #201
Well, you initially responded by flat out informing me I was wrong that it was still broken, and proceeded to link to an irrelevant line of code in a separate repo - even despite my preceding question about what that repo had to do with anything. A question I asked because you previously replied to the original poster with a similarly useless answer.

You then proceeded to ask me to double check e

[2020-02-04 17:34] evilebottnawi commented on #201
@thomas-darling Seriously? I asked you to provide more information:
- https://github.com/webpack-contrib/url-loader/issues/201#issuecomment-581829297
- https://github.com/webpack-contrib/url-loader/issues/201#issuecomment-582000076

And before that he gave recommendations on how to fix the problem and potentially problem places.

Where my tone was irritable or rude to you? It is you are rude to me

[2020-02-04 17:34] thomas-darling commented on #201
Ok, I actually do owe you an apology here. Your comments about `css-loader` did actually make sense in context of fonts not being loaded correctly when specified in a css file. In our case it actually looks like the images that are breaking are in the views of a React app, so there may be some differences here.

I won't have time to debug this further now right now, but I'll get back to you if/whe

[2020-02-04 17:35] evilebottnawi commented on #201
@thomas-darling Thank you, I hope for understanding, just ping me when you have an example or more information

[2020-02-04 17:36] evilebottnawi commented on #201
/cc @ganapativs Original problem still exists? If yes can you provide configuration or example?

[2020-02-04 17:37] evilebottnawi commented on #201
@thomas-darling

Do you use `require` or `import` in code? Or maybe you use `require.context`?

[2020-02-05 06:33] ganapativs commented on #201
@evilebottnawi Here is a repro for the issue.

https://codesandbox.io/s/winter-fire-qwym7
The CSS file to look out for is  https://qwym7.sse.codesandbox.io/_next/static/css/styles.chunk.css

This repro uses `next.js` with `@zeit/next-css` package. I'm trying to inline font file(Poppins) using `url-loader` and apply the font family to the `body`.

Currently, `esModule: false` is set in `next.config

[2020-02-05 10:23] evilebottnawi commented on #201
@ganapativs Please open issue in `@zeit/next-css`, they use `css-loader@1.0.0"`, it is deprecated and unsupported

[2020-02-05 15:53] ganapativs commented on #201
Yes, I did check the `@zeit/next-css` `css-loader` version earlier. Forgot to mention 😅

Apparently, they have decided [not to upgrade the `@zeit/next-css`](https://github.com/zeit/next-plugins/pull/581#issuecomment-566800340) package anymore as they have added the [native CSS support in `next.js`](https://github.com/zeit/next.js/issues/8626#issuecomment-575224515).

Thanks for your time 👍

[2020-02-06 05:02] ZebraFlesh opened #206 "Usage with require.context?"
Documentation Is:

- [ ] Missing
- [X] Needed
- [ ] Confusing
- [X] Not Sure?

### Please Explain in Detail...
After upgrading to the 3.0 release with `esModule` defaulting to `true`, I had some code break. Given a loader config of:
[code]

This code stopped working:
[code]

The fix seemed easy enough. When creating the Map, change
[code]
to
[code]

This makes sense to me because I'm now dealing w

[2020-02-06 12:18] evilebottnawi commented on #206
It is expected because we use ES modules, you can use `imagePaths[I].__esModule ? imagePaths[I].dfault : imagePaths[I]`,  it works the same for all modules, not only for url-loader, `babel` do same https://babeljs.io/docs/en/babel-plugin-transform-modules-commonjs, if you think we should documented that, please open issue https://github.com/webpack/webpack.js.org here, because it is not only for u

[2020-02-06 12:18] #206 closed

[2020-03-06 05:41] geonanorch commented on #196
same issue here, and as discussed in [the issue](https://github.com/peerigon/extract-loader/issues/54) mentioned by @yenshih  (thanks!), replacing `extract-loader` with `extract-text-loader` fixed this rather major bug.

[2020-04-06 15:18] franleplant opened #211 "Blob Url Support"
- Operating System: any supported
- Node Version: any supported
- NPM Version: any supported
- webpack Version: 4.x
- url-loader Version: latest

### Feature Proposal

I see that this lib converts the files into data URIs but I was just reading about Blob Urls and I was wondering if you considered as a possible solution to inlining files.

I read somewhere that Blob Urls are created from binary da

[2020-04-06 15:30] evilebottnawi commented on #211
My recommendation is to create own loader, url-loader has compatibility with JS/CSS/HTML and other default web standards, blob supported only for JS, so better to implement own loader for that

[2020-04-06 15:30] #211 closed

[2020-04-08 10:58] #25 closed

[2020-05-25 10:26] wztscau commented on #115
Is this fixed? I can still get the bug in ^4.x

[2020-06-12 20:23] rraallvv opened #214 "Images not inlined in Svelte 3 app"
- Operating System:
macOS 10.15.2
- Node Version:
11.15.0
- NPM Version:
6.7.0
- webpack Version:
4.38.0
- url-loader Version:
4.1.0

### Expected Behavior

[code]
Should be converted in the output to something like this:
[code]

### Actual Behavior

All image tags in all components are not inlined no matter their size in disk.

### Code

[code]

### How Do We Reproduce?

Clone [this repository](h

[2020-06-13 14:04] evilebottnawi commented on #214
Please open an issue for `svelte-loader`, no problem on `url-loader` side, `svetle-loader` handles `svetle` template

[2020-06-13 14:04] #214 closed

[2020-06-19 01:22] trusktr opened #215 "option to prefix URLs with `file://`"
- Operating System: N/A
- Node Version: N/A
- NPM Version: N/A
- webpack Version: N/A
- url-loader Version: 4

### Feature Proposal

Maybe something like

[code]

### Feature Use Case

Allows URLs to be imported as `file://` URLs. Currently we get an absolute path in the file system when the file is above the limit. In some cases (f.e. NW.js or Electron) it would be simple if the path included `fi

[2020-06-19 01:32] trusktr commented on #215
Oh, I suppose I can use the `generator` option to return any type or URL that I want?

[2020-06-19 14:03] evilebottnawi commented on #215
Yes, for custom generation you can use `generator`

[2020-06-19 14:04] evilebottnawi commented on #215
You can send a PR to docs how to achieve it for other developers

[2020-07-15 16:37] marinav opened #217 "DataURL images also send network request to public path"
- Operating System: Mac OSX
- Node Version: 12.16.2
- NPM Version: 6.14.4
- webpack Version: 4.42.1
- url-loader Version: 4.1.0

### Expected Behavior

Images under 1000 bytes are inlined as DataURL and no network request are done for those images.

### Actual Behavior

Images under 1000 bytes are inlined as DataURL but **a network request is done for each images** (and failing with 404 error code

[2020-07-15 17:27] evilebottnawi commented on #217
Because some images is more than `limit: 10000`

[2020-07-15 17:28] evilebottnawi commented on #217
From docs:
[code]

[2020-07-15 17:30] evilebottnawi commented on #217
We don't inject network request, you can look at our code :smile:

[2020-07-16 08:00] marinav commented on #217
Yes I know and it's working well, images size greater than limit are loaded via path, but images under limit are inlined as DataURL but still do a network request...I know you don't inject network request according to the doc but I don't understand why I still have one...

I thought it could be some cache but I have nothing about those images in asset-manifest, or maybe the way I import images ? O

[2020-07-16 08:17] marinav commented on #217
You can see here screenshots from my production app :

A first call with path 404 (type is text/html)
<img width="539" alt="Capture d’écran 2020-07-16 à 10 15 23" src="https://user-images.githubusercontent.com/4086197/87645091-4eff8800-c74d-11ea-8c00-8fb06ea7422c.png">

And then correct call  as DataURL (type svg+xml)
<img width="535" alt="Capture d’écran 2020-07-16 à 10 15 17" src="https://us

[2020-07-16 12:32] evilebottnawi commented on #217
@marinav Can you create reproducible test repo?

[2020-07-17 08:55] marinav commented on #217
@evilebottnawi ok I'm sorry it was due to an SSR setting in my project, I haven't notice before...I close the issue sorry for the waste of time.

Thank you 🙏

[2020-07-17 08:55] #217 closed

[2020-07-29 10:27] lzl529 commented on #115
i get it on 4.1.0

[2020-09-16 15:33] achenwei-chwy opened #219 "[question] Do we have webpack 5 support coming for this lib?"

[2020-09-16 15:37] evilebottnawi commented on #219
Yes, but you don't need `url-loader` for webpack@5, please read https://webpack.js.org/guides/asset-modules/, it is built-in in webpack@5

[2020-09-16 15:37] #219 closed

[2020-10-15 13:25] tomaszs opened #222 "NonErrorEmittedError: (Emitted value instead of an instance of Error) Error in parsing SVG: Non-whitespace before first tag."
After updating from 2.1.0 to >=3.0.0, an error occurs:

NonErrorEmittedError: (Emitted value instead of an instance of Error) Error in parsing SVG: Non-whitespace before first tag.

[2020-10-15 14:21] evilebottnawi commented on #222
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-10-15 14:21] #222 closed

[2020-12-08 16:31] JoshuaKGoldberg opened #223 "Different default limit values in documentation"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

In README.md, the big table of options lists `true` as the default value for `limit`. Just after the table, the section for specifically `limit` lists its default as `undefined`.

### Your Proposal for Changes

Pick one and stick with it. :)

[2020-12-08 17:17] alexander-akait commented on #223
Because it is default value, all files will be converted to `data:`

[2020-12-08 17:17] alexander-akait commented on #223
Oh, I see, sorry

[2020-12-08 17:17] alexander-akait commented on #223
Yep, feel free to fix it, default value is `undefined`

[2020-12-08 17:38] #223 closed

[2021-01-25 10:34] githoniel opened #228 "tree shake do not work with image"
- Operating System: Win10  10.0.19041.746
- Node Version: 14.15.1
- NPM Version: 6.14.8
- webpack Version: 5.17.0/4.46.0
- url-loader Version: 4.1.1

### Expected Behavior

reproduce repo: https://github.com/githoniel/webpack4-treeShake

I want to get webpack to compile and make tree shake for `components`, so I've add

[code]

in package.json.

I want webpack to tree shaking everything in  `compo

[2021-01-25 10:38] alexander-akait commented on #228
Yep, some limitation, you need to use `asset/resource` for webpack@5

[2021-01-25 12:14] githoniel commented on #228
thanks for explaination